Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

docs: 夏なのでゾッとした思い出を書いてみる
  content/blog/20230810.md
Due: textlint --fix

docs: 整腸剤をいろいろ試してみている話
  content/blog/20230811.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/05） (#548)
  content/blog/20230805.md
Due: textlint --fix

docs: なにわ淀川花火大会を見に行ってきた
  content/blog/20230812.md
Due: textlint --fix

docs: コンビニに売ってるペットボトルのお茶について書く
  content/blog/20230813.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/06） (#549)
  content/blog/20230806.md
Due: textlint --fix

docs: 千鳥屋宗家の本千鳥饅頭がうまい
  content/blog/20230814.md
Due: textlint --fix

feat: 前後の記事へのリンクを追加
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

feat: 前後の記事へのリンクを追加 (#575)
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: 最初の投稿と最新の投稿で前後の記事へのリンクが表示されない問題を修正
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: 最初の投稿と最新の投稿で前後の記事へのリンクが表示されない問題を修正 (#577)
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: trailing slash のエラーを修正
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: trailing slash のエラーを修正 (#578)
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: 分散型snsのblueskyをさわってみる
  content/blog/20230815.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/07） (#555)
  content/blog/20230807.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#582)
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

feat: sns一覧にxを追加
  packages/social-share/src/components/SocialShare/types.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
Due: eslint --fix, prettier --write, prettier -w

docs: 更新履歴を追加
  .changeset/red-mails-teach.md
Due: textlint --fix

feat: シェアコンポーネントのSNS一覧にXを追加 (#584)
  .changeset/red-mails-teach.md
  packages/social-share/src/components/SocialShare/types.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2023/08/08） (#556)
  content/blog/20230808.md
Due: textlint --fix

docs: 空を見上げたら飛行機が近かった話
  content/blog/20230816.md
Due: textlint --fix

fix: ダークモード時にシェアボタンのサーバ入力の表示が適切でない問題を修正
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: ダークモード時にシェアボタンのサーバ入力の表示が適切でない問題を修正 (#587)
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: 記事のヘッダーとフッターを別コンポーネントに分割
  web/src/components/ArticleFooter.vue
  web/src/components/ArticleHeader.vue
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: コメントを追加
  web/src/components/DocumentDrivenNotFound.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: 記事レイアウトを調整 (#590)
  web/src/components/ArticleFooter.vue
  web/src/components/ArticleHeader.vue
  web/src/components/DocumentDrivenNotFound.vue
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/09） (#561)
  content/blog/20230809.md
Due: textlint --fix

docs: ブログ記事のファイルを追加
  content/blog/20230817.md
Due: textlint --fix

docs: devドメインを cloudflare registrar に移管する
  content/blog/20230818.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/10） (#567)
  content/blog/20230810.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/11） (#568)
  content/blog/20230811.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#595)
  package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/08/12） (#569)
  content/blog/20230812.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/13） (#570)
  content/blog/20230813.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/14） (#574)
  content/blog/20230814.md
Due: textlint --fix

docs: 台風のせいで帰省の予定が狂った話
  content/blog/20230817.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/15） (#580)
  content/blog/20230815.md
Due: textlint --fix
