Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["prettier -w"],
  "*.{css,scss}": ["prettier -w"],
  "*.{json,yml,yaml,md,html}": ["prettier -w"],
  "*.vue": ["prettier -w"]
}

feat: 読み込み時のプログレスバーを追加
  web/src/app.vue
Due: prettier -w

docs: お問い合わせページを追加
  content/contact.md
Due: prettier -w

chore: パンくずリストの構造化データを追加
  web/src/layouts/default.vue
Due: prettier -w

feat: 記事一覧ページの場合の構造化データを追加
  content/blog/index.md
  web/src/layouts/default.vue
Due: prettier -w

chore: descriptionを変更
  content/index.md
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

refactor: seo関連の設定を別コンポーネントに切り出し
  web/src/app.vue
  web/src/components/TheSeo.vue
  web/src/layouts/default.vue
Due: prettier -w

chore: faviconの設定を追加
  web/src/components/TheSeo.vue
  web/src/public/android-chrome-192x192.png
  web/src/public/android-chrome-512x512.png
  web/src/public/apple-touch-icon.png
  web/src/public/browserconfig.xml
  web/src/public/favicon-16x16.png
  web/src/public/favicon-32x32.png
  web/src/public/favicon.ico
  web/src/public/mstile-144x144.png
  web/src/public/mstile-150x150.png
  web/src/public/mstile-310x150.png
  web/src/public/mstile-310x310.png
  web/src/public/mstile-70x70.png
  web/src/public/safari-pinned-tab.svg
  web/src/public/site.webmanifest
Due: prettier -w

chore: gtmの設定を追加
  web/nuxt.config.ts
  web/src/components/TheSeo.vue
Due: eslint --fix, prettier --write, prettier -w

docs: ウェブサイトリニューアルのブログ記事を追加
  content/blog/20230701.md
Due: prettier -w

feat: ブログ記事ページの構造化データを追加
  web/src/components/TheSeo.vue
Due: prettier -w

docs: プライバシーポリシーの更新
  content/privacy.md
Due: prettier -w

ci: mainブランチのデプロイワークフローを追加
  .github/workflows/deploy.yaml
Due: prettier -w

ci: プレビューデプロイのワークフローを追加
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
Due: prettier -w

ci: artifactアップロード時のパスをシンボリックリンクではなく元のパスに変更
  .github/workflows/pr.yaml
Due: prettier -w

ci: デプロイのワークフローを修正
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
  README.md
Due: prettier -w

fix: prでproductionデプロイが実行される問題を修正
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
Due: prettier -w

ci: ラベルを付与したときだけgenerateが実行されるよう変更
  .github/workflows/autofix.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
Due: prettier -w

build(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore: cloudflare pages 用のヘッダーファイルを追加
  web/src/public/_headers
Due: none

feat: コンテンツ一覧表示のコンポーネントを追加
  pnpm-lock.yaml
  web/package.json
  web/src/components/content/ContentList.vue
  web/src/components/content/ContentListItem.vue
  web/src/types/index.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログのトップページに記事一覧表示を追加
  content/blog/index.md
  content/index.md
Due: prettier -w

ci: deployのワークフローにprへの書き込み権限を追加
  .github/workflows/deploy.yaml
Due: prettier -w

ci: ciのワークフローにgenerateの実行を追加
  .github/workflows/ci.yaml
Due: prettier -w

test: autofixの確認のためeslintのエラーが出る変更を追加
  web/src/components/content/ContentList.vue
Due: prettier -w

build: nuxtのimageモジュールを追加
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/components/content/ProseImg.vue
Due: eslint --fix, prettier --write, prettier -w

feat: トップページのプロフィールセクションを追加
  content/index.md
  web/src/app.config.ts
  web/src/components/content/TopProfile.vue
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write, prettier -w

chore: フッターの項目を調整
  web/src/components/TheFooter.vue
Due: prettier -w

docs: ブログ記事を追加
  README.md
  content/blog/20230702.md
Due: prettier -w

perf: 記事中の画像に遅延読み込み指定を追加
  web/src/components/content/ProseImg.vue
Due: prettier -w

fix: モバイル表示時に記事の投稿日などの情報を表示するエリアが画面外にはみ出す問題を修正
  web/src/layouts/default.vue
Due: prettier -w

chore: コンテンツリストの各項目の表示を調整
  web/src/components/content/ContentListItem.vue
Due: prettier -w

perf: 記事内の画像表示を改善
  content/blog/20230702.md
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/components/content/ProseImg.vue
  web/src/components/content/TopProfile.vue
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加
  content/blog/20230703.md
Due: prettier -w

feat: 記事中のコードブロックにシンタックスハイライトを適用
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ3日坊主は嫌なので観覧車に乗ってきた
  content/blog/20230704.md
Due: prettier -w

fix: コンテンツが画面外にオーバーフローする問題を修正
  web/src/layouts/default.vue
Due: prettier -w

docs: 記事などの内容を調整
  .github/SECURITY.md
  LICENSE.md
  content/blog/20230702.md
  content/blog/20230704.md
Due: prettier -w

docs: オープンな SNS をやるのにつかれた話
  content/blog/20230705.md
Due: prettier -w

feat: rssフィードを追加
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/components/TheSeo.vue
  web/src/public/logo.png
  web/src/server/routes/feed.ts
Due: eslint --fix, prettier --write, prettier -w

docs: rssフィードの配信はじめました
  content/blog/20230706.md
Due: prettier -w
