Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 一心堂のフルーツ大福を食べる
  content/blog/2025/01/09.md
Due: textlint --fix

build(deps): 依存関係を更新
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

build(deps): 依存関係を更新 (#1484)
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: 阪急崇禅寺駅から淡路駅までを歩く
  content/blog/2025/01/06.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/09） (#1467)
  content/blog/2024/12/09.md
Due: textlint --fix

docs: 大規模な高架化工事が行われている阪急淡路駅へ行ってきた
  content/blog/2025/01/07.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/10） (#1468)
  content/blog/2024/12/10.md
Due: textlint --fix

docs: マスカルポーネチーズを買ってみた
  content/blog/2025/01/08.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/11） (#1469)
  content/blog/2024/12/11.md
Due: textlint --fix

docs: ここ1年くらいネットで検索するときにmicrosoftのbingを使っている話
  content/blog/2025/01/10.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/12） (#1471)
  content/blog/2024/12/12.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/13） (#1472)
  content/blog/2024/12/13.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/14） (#1473)
  content/blog/2024/12/14.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/15） (#1474)
  content/blog/2024/12/15.md
Due: textlint --fix

docs: 高速バスの阿波エクスプレス大阪号に乗って徳島へ行ってきた
  content/blog/2025/01/18.md
Due: textlint --fix

docs: 徳島駅から阿波おどり会館まで徳島の街を歩く
  content/blog/2025/01/19.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/16） (#1475)
  content/blog/2024/12/16.md
Due: textlint --fix

docs: 眉山ロープウェイで徳島市のシンボルである眉山の山頂へ行ってきた
  content/blog/2025/01/20.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/17） (#1476)
  content/blog/2024/12/17.md
Due: textlint --fix

docs: コメダ珈琲店の「のむ桔梗信玄餅」を飲む
  content/blog/2024/12/26.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/18） (#1477)
  content/blog/2024/12/18.md
Due: textlint --fix

docs: 鳴門金時を使った太陽のほしいもを食べる
  content/blog/2025/01/21.md
Due: textlint --fix

docs: 駅の北側に広がる徳島中央公園を歩く
  content/blog/2025/01/22.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/19） (#1478)
  content/blog/2024/12/19.md
Due: textlint --fix

docs: 徳島中央公園内にある徳島城博物館と旧徳島城表御殿庭園へ行ってきた
  content/blog/2025/01/23.md
Due: textlint --fix

docs: 南海フェリーの「好きっぷ」でお得に徳島から大阪へ移動してみた
  content/blog/2025/01/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/20） (#1479)
  content/blog/2024/12/20.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/21） (#1480)
  content/blog/2024/12/21.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/22） (#1481)
  content/blog/2024/12/22.md
Due: textlint --fix

docs: ハイカラな港町の神戸にある日本庭園「相楽園」を歩く
  content/blog/2025/01/27.md
Due: textlint --fix

build: nodeを22系へ更新
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build: nodeを22系へ更新 (#1486)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: まどそふとの『ラズベリーキューブ』をプレイした感想
  content/blog/2024/12/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/12/23） (#1482)
  content/blog/2024/12/23.md
Due: textlint --fix

ci: textlintにコメントでエラーを無視するルールを追加
  .textlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

ci: textlintにコメントでエラーを無視するルールを追加 (#1491)
  .textlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

style: textlintのエラーに引っかからないよう除外設定を追加
  content/blog/2024/12/24.md
Due: textlint --fix

ci: setup-nodeをv4.1.0へ更新
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
Due: prettier -w

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1499)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
