Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 日本を代表する老舗和菓子屋とらやの羊羹を食べる
  content/blog/2024/07/16.md
Due: textlint --fix

docs: ブログ記事を追加（2024/06/24） (#1201)
  content/blog/2024/06/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/06/25） (#1202)
  content/blog/2024/06/25.md
Due: textlint --fix

docs: 梅田のランドマーク hep five の赤い観覧車に乗ってきた
  content/blog/2024/07/04.md
Due: textlint --fix

docs: 淀屋橋から本町まで御堂筋を歩く
  content/blog/2024/07/20.md
Due: textlint --fix

docs: ブログ記事を追加（2024/06/26） (#1203)
  content/blog/2024/06/26.md
Due: textlint --fix

docs: 駅構内にあるコンビニでやたら推してたjr西日本限定瀬戸内レモンビーバーを食べる
  content/blog/2024/07/22.md
Due: textlint --fix

chore: vscodeのnuxtr拡張機能を推奨として追加
  .vscode/extensions.json
Due: prettier --write, prettier -w

chore: vscodeのnuxtr拡張機能を推奨として追加 (#1230)
  .vscode/extensions.json
Due: prettier --write, prettier -w

chore: vscodeのeslintの設定を変更
  .vscode/settings.json
Due: prettier --write, prettier -w

chore: vscodeのeslintの設定を変更 (#1231)
  .vscode/settings.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1232)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/06/27） (#1208)
  content/blog/2024/06/27.md
Due: textlint --fix

docs: 投稿への追記
  content/blog/2024/03/15.md
Due: textlint --fix

chore: 更新日を変更
  content/blog/2024/03/15.md
Due: textlint --fix

docs: 投稿への追記 (#1233)
  content/blog/2024/03/15.md
Due: textlint --fix

docs: ゴンチャのシトラス＆パッションティーエードを飲む
  content/blog/2024/07/11.md
Due: textlint --fix

docs: ブログ記事を追加（2024/06/28） (#1209)
  content/blog/2024/06/28.md
Due: textlint --fix

chore: リリースのコミットに変更
  .github/workflows/semantic-pr.yaml
Due: prettier -w

docs: ブログ記事を追加（2024/06/29） (#1215)
  content/blog/2024/05/26.md
  content/blog/2024/06/29.md
Due: textlint --fix

docs: 『本当に家を買っても大丈夫か？と思ったら読む 住宅購入の思考法』を読んだ
  content/blog/2024/07/23.md
Due: textlint --fix

docs: 100満ボルトで発行された「あんしん保証カード」はエディオンでも使える
  content/blog/2024/07/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/06/30） (#1216)
  content/blog/2024/06/30.md
Due: textlint --fix

docs: cioのacプラグ付きモバイルバッテリー「smartcoby pro plug」を買った
  content/blog/2024/07/26.md
Due: textlint --fix

docs: cloudflareにnuxtアプリをデプロイできるnuxthubを触ってみる
  content/blog/2024/07/27.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/01） (#1217)
  content/blog/2024/07/01.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/02） (#1219)
  content/blog/2024/07/02.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/03） (#1220)
  content/blog/2024/07/03.md
Due: textlint --fix

feat: スクリーンリーダー用にnuxtRouteAnnouncerコンポーネントを導入
  src/app.vue
Due: eslint --fix, prettier -w

feat: スクリーンリーダー用にnuxtRouteAnnouncerコンポーネントを導入 (#1245)
  src/app.vue
Due: eslint --fix, prettier -w

build(deps): 依存関係を更新 (#1246)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ウェブサイトを開設してから10年が経ちました
  content/blog/2024/08/01.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/04） (#1223)
  content/blog/2024/07/04.md
Due: textlint --fix

docs: セブンイレブンの自分で作るスムージーを飲む
  content/blog/2024/07/28.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/05） (#1224)
  content/blog/2024/07/05.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/06） (#1225)
  content/blog/2024/07/06.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/07） (#1226)
  content/blog/2024/07/07.md
Due: textlint --fix

docs: サーティワンアイスクリームのスーパーマリオとのコラボフレーバーを食べる
  content/blog/2024/07/18.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
