Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

docs: 青春18きっぷで大阪から石川まで行ってきた
  content/blog/20230730.md
Due: textlint --fix

docs: ブログを1ヶ月間毎日更新してみて
  content/blog/20230731.md
Due: textlint --fix

docs: ウェブサイトを開設してから9年が経ちました
  content/blog/20230801.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/27） (#528)
  content/blog/20230727.md
Due: textlint --fix

fix: prettier設定ファイルのプラグインの指定方法を修正
  .prettierrc.js
Due: eslint --fix, prettier --write, prettier -w

fix: prettier設定ファイルのプラグインの指定方法を修正 (#539)
  .prettierrc.js
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2023/07/28） (#530)
  content/blog/20230728.md
Due: textlint --fix

docs: 十三にある無人のアイス屋さんに行ってきた
  content/blog/20230802.md
Due: textlint --fix

docs: 来年北陸新幹線が開業する福井を散策してきた
  content/blog/20230803.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/29） (#532)
  content/blog/20230729.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/30） (#533)
  content/blog/20230730.md
Due: textlint --fix

docs: コンビニの冷凍刻みネギをとりあえず冷凍庫に入れておくと便利な話
  content/blog/20230804.md
Due: textlint --fix

docs: 立山にある落差日本一の称名滝を見てきた
  content/blog/20230805.md
Due: textlint --fix

docs: 7年間運営チームのメンバーをしてきたminecraftサーバが終了した話
  content/blog/20230806.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#550)
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/07/31） (#534)
  content/blog/20230731.md
Due: textlint --fix

fix: パッケージインストール時にpostinstallが実行されエラーとなる問題を修正
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
Due: prettier --write, prettier -w

docs: 変更履歴を追加
  .changeset/shiny-jars-carry.md
Due: textlint --fix

fix: パッケージインストール時にpostinstallが実行されエラーとなる問題を修正 (#551)
  .changeset/shiny-jars-carry.md
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
Due: prettier --write, prettier -w, textlint --fix

chore: release
  packages/textlint-rule-preset-custom/CHANGELOG.md
  packages/textlint-rule-preset-custom/package.json
Due: prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2023/08/01） (#535)
  content/blog/20230801.md
Due: textlint --fix

fix: 開発環境でページの情報が取得できない場合にエラーとなる問題を修正
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: 開発環境でページの情報が取得できない場合にエラーとなる問題を修正 (#553)
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: 北陸のソウルフード 8 番らーめんを食べる
  content/blog/20230807.md
Due: textlint --fix

docs: 仕事帰りに飲み物片手に散歩するのっていいよね
  content/blog/20230808.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/02） (#541)
  content/blog/20230802.md
Due: textlint --fix

docs: stackblitz codeflow をつかってみる
  content/blog/20230809.md
Due: textlint --fix

docs: 文章を追加
  content/blog/20230809.md
Due: textlint --fix

fix: 存在しないブログ記事を表示した場合に500エラーが出力される問題を修正
  web/src/components/TheSeo.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: ページが見つからない場合に記事ページのヘッダーとフッターを表示しないよう変更
  web/src/layouts/default.vue
Due: eslint --fix, prettier -w, stylelint --fix

feat: コンテンツが無い場合の表示を追加
  web/src/components/DocumentDrivenNotFound.vue
  web/tailwind.config.js
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

feat: コンテンツが存在しない場合の表示を追加 (#562)
  web/src/components/DocumentDrivenNotFound.vue
  web/src/components/TheSeo.vue
  web/src/layouts/default.vue
  web/tailwind.config.js
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/03） (#542)
  content/blog/20230803.md
Due: textlint --fix

chore: 記事一覧から著者情報を削除
  web/src/components/content/ContentListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: 作成した日のみを表示するよう変更
  web/src/components/content/ContentList.vue
  web/src/components/content/ContentListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

feat: ページネーションを追加
  web/src/components/content/ContentList.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: 作成した日を投稿した日へ変更
  web/src/components/content/ContentListItem.vue
  web/src/layouts/default.vue
  web/src/types/index.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

chore: 記事一覧を調整 (#564)
  web/src/components/content/ContentList.vue
  web/src/components/content/ContentListItem.vue
  web/src/layouts/default.vue
  web/src/types/index.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/04） (#545)
  content/blog/20230804.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
  textlint --fix: any of: *.md
