Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

fix: headlessuiのエラーを一時的に修正
  src/app.vue
Due: eslint --fix, prettier -w

docs: 関西限定ココナッツサブレみたらし団子味を食べる
  content/blog/2024/04/10.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/27） (#1064)
  content/blog/2024/03/27.md
Due: textlint --fix

refactor: bodyのスタイルを共通化
  nuxt.config.ts
  src/app.vue
  src/assets/tailwind.css
  src/error.vue
Due: eslint --fix, prettier --write, prettier -w

refactor: useAppConfig経由で取得していたデータをuseWebsiteに統一
  src/app.config.ts
  src/app.vue
  src/components/SeoDefault.vue
  src/components/TheFooter.vue
  src/components/TheHeader.vue
  src/components/articles/PageFooter.vue
  src/components/articles/Pagination.vue
  src/components/content/ProseImg.vue
  src/composables/useWebsite.ts
  src/error.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, prettier -w

refactor: useRuntimeConfig経由で取得してるpublicな値をuseWebsiteに統一
  src/components/SeoDefault.vue
  src/components/content/ProseImg.vue
  src/composables/useWebsite.ts
Due: eslint --fix, prettier --write, prettier -w

refactor: 投稿ページ以外でもpageHeaderコンポーネントを使うよう変更
  src/components/articles/PageHeader.vue
  src/error.vue
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint --fix, prettier -w

refactor: ボタンのコンポーネントを共通化
  src/components/AppLink.vue
  src/components/home/Blog.vue
  src/components/home/Profile.vue
  src/error.vue
Due: eslint --fix, prettier -w

refactor: メイン部分のスタイルを共通化
  src/assets/tailwind.css
  src/components/DocumentEmpty.vue
  src/components/home/Blog.vue
  src/components/home/Hero.vue
  src/components/home/Profile.vue
  src/error.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier -w

refactor: useAsyncDataで取得したデータの変数名を変更
  src/components/articles/Pagination.vue
  src/components/home/Blog.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w

refactor: ブログのurlを変換する処理を共通化
  src/components/articles/List.vue
  src/pages/blog/[slug].vue
  src/utils/blogUrl.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2024/03/28） (#1071)
  content/blog/2024/03/28.md
Due: textlint --fix

docs: 脱字の修正
  content/blog/2024/03/27.md
Due: textlint --fix

docs: 脱字の修正 (#1085)
  content/blog/2024/03/27.md
Due: textlint --fix

refactor: ページネーションのコンポーネントを他でも使えるように変更
  src/components/AppPagination.vue
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint --fix, prettier -w

docs: ブログ記事を追加（2024/03/29） (#1072)
  content/blog/2024/03/29.md
Due: textlint --fix

docs: 地下鉄御堂筋線新大阪駅のトレインビュースポットへ行ってきた
  content/blog/2024/04/12.md
Due: textlint --fix

docs: レトロな缶に入った大阪の芋けんぴ「ニューケンピ」を食べる
  content/blog/2024/04/14.md
Due: textlint --fix

ci: eslintを新しい構成に移行
  .eslintrc.cjs
  .vscode/settings.json
  eslint.config.mjs
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/server/routes/feed.xml.ts
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

refactor: アイコン表示をtailwindcssのプラグインに置き換え
  package.json
  pnpm-lock.yaml
  src/components/AppLink.vue
  src/components/AppPagination.vue
  src/components/TheFooter.vue
  src/components/TheHeader.vue
  src/components/articles/List.vue
  src/components/articles/PageFooter.vue
  src/components/articles/PageHeader.vue
  src/error.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2024/03/30） (#1073)
  content/blog/2024/03/30.md
Due: textlint --fix

docs: nuxt のeslintモジュールが flat config に対応していたので新しい構成に移行する
  content/blog/2024/04/13.md
Due: textlint --fix

docs: tailwindcssのクラスでアイコンを表示できるtailwindcss-iconsプラグインを使ってみる
  content/blog/2024/04/17.md
Due: textlint --fix

docs: マクドナルドのあずきみるくフラッペを飲む
  content/blog/2024/04/04.md
Due: textlint --fix

docs: 平尾と津守を結ぶ渡船に乗ってきた
  content/blog/2024/04/15.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/31） (#1074)
  content/blog/2024/03/31.md
Due: textlint --fix

docs: 大阪市内にある標高33メートルの山「昭和山」を登ってきた
  content/blog/2024/04/16.md
Due: textlint --fix

refactor: ページのヘッダーとフッターのコンポーネントの名称を変更
  src/components/PageFooter.vue
  src/components/PageHeader.vue
  src/error.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w

refactor: 日付の形式を変更する処理を共通化
  src/components/PageFooter.vue
  src/components/PageHeader.vue
  src/components/articles/List.vue
  src/composables/useDatetimeFormat.ts
Due: eslint --fix, prettier --write, prettier -w

refactor: ブログ投稿一覧の取得処理を共通化
  src/components/blog/PostList.vue
  src/components/home/Blog.vue
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint --fix, prettier -w

chore: articleをpostに統一
  src/components/PageFooter.vue
  src/components/blog/PostList.vue
  src/pages/[...slug].vue
  src/pages/blog/[slug].vue
  src/server/routes/feed.xml.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, prettier -w

chore: クローラーがuseAsyncDataのキーから存在しないページを検知するので修正
  src/pages/[...slug].vue
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w

refactor: useAsyncDataのキーを生成する処理を共通化
  src/components/blog/PostList.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
  src/utils/url.ts
Due: eslint --fix, prettier --write, prettier -w

docs: わずか400メートルほどしか離れていない京阪千林～滝井～土居駅間の電車に乗ってきた
  content/blog/2024/04/19.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/01） (#1075)
  content/blog/2024/04/01.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/02） (#1076)
  content/blog/2024/04/02.md
Due: textlint --fix

refactor: 前後の投稿へのリンクのタグを変更
  src/components/PageFooter.vue
Due: eslint --fix, prettier -w

chore: モバイル表示時のメニュー開閉ボタンにラベルを追加
  src/components/TheHeader.vue
Due: eslint --fix, prettier -w

docs: ブログ記事を追加（2024/04/03） (#1077)
  content/blog/2024/04/03.md
Due: textlint --fix

refactor: メタタグの設定の一部をuseHeadからuseSeoMetaへ移動
  src/components/SeoDefault.vue
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
