Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

chore: commonJSのファイルの拡張子をcjsへ変更 (#708)
  .commitlintrc.cjs
  .eslintrc.cjs
  .prettierrc.cjs
  .stylelintrc.cjs
  .textlintrc.cjs
  packages/eslint-config-custom/index.cjs
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/.eslintrc.cjs
  packages/social-share/.stylelintrc.cjs
  packages/stylelint-config/.eslintrc.cjs
  packages/stylelint-config/index.cjs
  packages/stylelint-config/package.json
  packages/tailwind-config/.eslintrc.cjs
  packages/tailwind-config/tailwind.config.cjs
  packages/textlint-rule-front-matter/.eslintrc.cjs
  packages/textlint-rule-preset-custom/.eslintrc.cjs
  packages/textlint-rule-preset-custom/index.cjs
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/.eslintrc.cjs
  web/.eslintrc.cjs
  web/.stylelintrc.cjs
  web/tailwind.config.cjs
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2023/09/12） (#700)
  content/blog/20230912.md
Due: textlint --fix

docs: 水の都大阪のおしゃれエリア中之島を歩く
  content/blog/20230916.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/13） (#703)
  content/blog/20230913.md
Due: textlint --fix

docs: ネットでテキトーに靴を買ったらクソデカかった話
  content/blog/20230917.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/14） (#704)
  content/blog/20230914.md
Due: textlint --fix

docs: cittyでcliツールをつくってみる
  content/blog/20230918.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/15） (#706)
  content/blog/20230915.md
Due: textlint --fix

chore(deps): nuxtを3.7.3へ更新
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): nuxtを3.7.3へ更新 (#712)
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/09/16） (#709)
  content/blog/20230916.md
Due: textlint --fix

docs: ラノベにブックコートフィルムを貼る
  content/blog/20230919.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/17） (#710)
  content/blog/20230917.md
Due: textlint --fix

docs: 伊勢名物赤福を大阪で買って大阪で食べる
  content/blog/20230920.md
Due: textlint --fix

docs: 串かつだるまで大阪の串カツを食べる
  content/blog/20230921.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/18） (#711)
  content/blog/20230918.md
Due: textlint --fix

docs: パンダ公園と呼ばれている長柄公園へ行ってきた
  content/blog/20230922.md
Due: textlint --fix

docs: 大阪市水道局の水道記念館で水道について学ぶ
  content/blog/20230923.md
Due: textlint --fix

feat: 指定した正規表現に一致するかを検証するオプションを追加
  packages/textlint-rule-front-matter/README.md
  packages/textlint-rule-front-matter/src/index.ts
  packages/textlint-rule-front-matter/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 変更履歴を追加
  .changeset/wise-wombats-guess.md
Due: textlint --fix

feat: 指定した正規表現に一致するかを検証するオプションを追加 (#720)
  .changeset/wise-wombats-guess.md
  packages/textlint-rule-front-matter/README.md
  packages/textlint-rule-front-matter/src/index.ts
  packages/textlint-rule-front-matter/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

chore: version
  packages/textlint-rule-preset-custom/CHANGELOG.md
  packages/textlint-rule-preset-custom/package.json
Due: prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2023/09/19） (#714)
  content/blog/20230919.md
Due: textlint --fix

docs: 無印良品の手づくりカレーキットでグリーンカレーをつくる
  content/blog/20230924.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/20） (#715)
  content/blog/20230920.md
Due: textlint --fix

docs: 飲み物片手に梅田から天六まで歩く
  content/blog/20230925.md
Due: textlint --fix

docs: textlint で front matter の内容をチェックするルールをつくった
  content/blog/20230926.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/21） (#716)
  content/blog/20230921.md
Due: textlint --fix

chore(deps): 依存関係を更新
  packages/social-share/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): pnpmを更新
  package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#726)
  package.json
  packages/social-share/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/09/22） (#718)
  content/blog/20230922.md
Due: textlint --fix

docs: スーパーマーケットへ毎日水を汲みに行っている話
  content/blog/20230927.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/23） (#719)
  content/blog/20230923.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/24） (#723)
  content/blog/20230924.md
Due: textlint --fix

docs: スタバのパンプキンスパイスラテを飲む
  content/blog/20230928.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/25） (#724)
  content/blog/20230925.md
Due: textlint --fix

docs: 大阪シティバスの難読バス停喜連西住道矢田へ行く
  content/blog/20230929.md
Due: textlint --fix

ci: サポートが終了したnode16系でのワークフローを削除
  .github/workflows/ci.yaml
Due: prettier -w

ci: サポートが終了したnode16系でのワークフローを削除 (#732)
  .github/workflows/ci.yaml
Due: prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
  textlint --fix: any of: *.md
