Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

docs: ブログ記事を追加（2023/12/26） (#892)
  content/blog/20231226.md
Due: textlint --fix

docs: 冬にカーテンを開けて寝るとめちゃくちゃ寒い話
  content/blog/20240108.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#912)
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 体調が良くなかったのでドラッグストアに売ってる葛根湯を飲んでみる
  content/blog/20240109.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/27） (#893)
  content/blog/20231227.md
Due: textlint --fix

docs: 大阪を中心に100以上の店舗があるじゃんぼ總本店のたこ焼を食べる
  content/blog/20240110.md
Due: textlint --fix

chore: プロフィールのsnsリンクを変更
  content/about.md
  web/src/app.config.ts
  web/src/components/TheHeader.vue
  web/src/components/content/TopProfile.vue
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

chore: プロフィールのsnsリンクを変更 (#915)
  content/about.md
  web/src/app.config.ts
  web/src/components/TheHeader.vue
  web/src/components/content/TopProfile.vue
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

docs: スタバのほうじ茶まろやかキャラメルティーラテを飲む
  content/blog/20240111.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/28） (#895)
  content/blog/20231228.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/29） (#897)
  content/blog/20231229.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/30） (#899)
  content/blog/20231230.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/31） (#900)
  content/blog/20231231.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/01） (#901)
  content/blog/20240101.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/02） (#903)
  content/blog/20240102.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/03） (#905)
  content/blog/20240103.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/04） (#906)
  content/blog/20240104.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/05） (#907)
  content/blog/20240105.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/06） (#908)
  content/blog/20240106.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/07） (#910)
  content/blog/20240107.md
Due: textlint --fix

docs: 新年なので2024年の抱負を書く
  content/blog/20240112.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/08） (#911)
  content/blog/20240108.md
Due: textlint --fix

docs: 大阪環状線の森ノ宮駅から玉造駅までを散歩する
  content/blog/20240113.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#924)
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 完全栄養食 base bread を食べる
  content/blog/20240114.md
Due: textlint --fix

ci: ワークフローで利用するactionのハッシュ値を更新
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
Due: prettier -w

ci: ワークフローで利用するactionのハッシュ値を更新 (#926)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
Due: prettier -w

docs: 世界最大の同人誌即売会コミケに初めて行ってきた
  content/blog/20240115.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/09） (#913)
  content/blog/20240109.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/10） (#914)
  content/blog/20240110.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/11） (#916)
  content/blog/20240111.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/12） (#922)
  content/blog/20240112.md
Due: textlint --fix

docs: 金沢周辺でお正月に食べられている和菓子「福梅」を食べる
  content/blog/20240116.md
Due: textlint --fix

docs: 初めての特急サンダーバードのグリーン車乗車をしてきた
  content/blog/20240117.md
Due: textlint --fix

fix: 誤字修正
  content/blog/20240112.md
  content/blog/20240116.md
Due: textlint --fix

docs: ブログ記事を追加（2024/01/13） (#923)
  content/blog/20240113.md
Due: textlint --fix

chore(deps): regen lockfile
  package.json
  packages/social-share/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/01/14） (#925)
  content/blog/20240114.md
Due: textlint --fix
