Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix

ci: リリースのワークフローを調整
  .github/workflows/release.yaml
Due: prettier -w

ci: リリースのワークフローを調整 (#474)
  .github/workflows/release.yaml
Due: prettier -w

Update content/blog/20230716.md
  content/blog/20230716.md
Due: none

docs: カルディで売ってるきなこねじりがうまい
  content/blog/20230717.md
Due: none

docs: ヨーグルトメーカーでヨーグルトをつくりはじめた話
  content/blog/20230718.md
Due: none

fix: tailwindのパッケージにeslintの設定パッケージが入っていなかったのを追加
  packages/tailwind-config/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

fix: tailwindのパッケージにeslintの設定パッケージが入っていなかったのを追加 (#480)
  packages/tailwind-config/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/07/15） (#471)
  content/blog/20230715.md
Due: none

perf: 一覧表示に不要な本文などの項目を取得しないよう変更
  web/src/components/content/ContentList.vue
Due: eslint --fix, prettier -w, stylelint --fix

perf: 一覧表示に不要な本文などの項目を取得しないよう変更 (#483)
  web/src/components/content/ContentList.vue
Due: eslint --fix, prettier -w, stylelint --fix

style: textlintを導入
  .textlintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

feat: textlintの設定を別パッケージに移動
  .textlintrc.js
  README.md
  package.json
  packages/README.md
  packages/textlint-rule-preset-custom/.eslintrc.js
  packages/textlint-rule-preset-custom/README.md
  packages/textlint-rule-preset-custom/index.js
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

ci: コミット時にtextlintを実行するよう変更
  .lintstagedrc.json
Due: prettier --write, prettier -w

ci: textlintを導入 (#485)
  .lintstagedrc.json
  .textlintrc.js
  README.md
  package.json
  packages/README.md
  packages/textlint-rule-preset-custom/.eslintrc.js
  packages/textlint-rule-preset-custom/README.md
  packages/textlint-rule-preset-custom/index.js
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: pnpm+turborepoでnuxt アプリのmonorepo開発環境をつくる
  content/blog/20230719.md
Due: none

feat: create-textlint-ruleでルールを作成
  .gitignore
  README.md
  packages/README.md
  packages/textlint-rule-space-around-bold/README.md
  packages/textlint-rule-space-around-bold/package.json
  packages/textlint-rule-space-around-bold/src/index.ts
  packages/textlint-rule-space-around-bold/test/index-test.ts
  packages/textlint-rule-space-around-bold/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2023/07/16） (#473)
  content/blog/20230716.md
Due: none

docs: social-shareのドキュメントを更新
  packages/social-share/README.md
  packages/social-share/package.json
Due: prettier --write, prettier -w

docs: 変更履歴を更新
  .changeset/tiny-walls-shout.md
Due: none

docs: social-shareのドキュメントを更新 (#487)
  .changeset/tiny-walls-shout.md
  packages/social-share/README.md
  packages/social-share/package.json
Due: prettier --write, prettier -w

docs: 南海電鉄堺駅の周辺をお散歩した話
  content/blog/20230720.md
Due: none

docs: やったことがあるアルバイトについて書いてみる
  content/blog/20230721.md
Due: none

docs: 大阪シティバスのバスで堺市まで行ってきた
  content/blog/20230722.md
Due: none

feat: ルールの処理を追加
  packages/textlint-rule-space-around-bold/src/index.ts
  packages/textlint-rule-space-around-bold/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w

ci: リリース時のワークフローを調整
  .github/workflows/release.yaml
  package.json
Due: prettier --write, prettier -w

docs: 変更履歴を追加
  .changeset/weak-taxis-check.md
Due: none

docs: ブログ記事を追加（2023/07/17） (#477)
  content/blog/20230717.md
Due: none

fix: 太字の前後が改行の場合にもスペースが挿入される問題を修正
  .changeset/lemon-bulldogs-heal.md
  packages/textlint-rule-space-around-bold/src/index.ts
  packages/textlint-rule-space-around-bold/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w

fix: リンクの中にある太字の前後にもスペースが挿入される問題を修正
  .changeset/quiet-adults-yawn.md
  packages/textlint-rule-space-around-bold/src/index.ts
  packages/textlint-rule-space-around-bold/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ドキュメントを修正
  .changeset/cool-yaks-run.md
  packages/textlint-rule-space-around-bold/README.md
Due: none

fix: 太字の前後にスペースを入れるルールの不具合を修正 (#496)
  .changeset/cool-yaks-run.md
  .changeset/lemon-bulldogs-heal.md
  .changeset/quiet-adults-yawn.md
  packages/textlint-rule-space-around-bold/README.md
  packages/textlint-rule-space-around-bold/src/index.ts
  packages/textlint-rule-space-around-bold/test/index-test.ts
Due: eslint --fix, prettier --write, prettier -w

style: textlintに太字前後にスペースを入れるルールを追加
  packages/textlint-rule-preset-custom/index.js
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

style: textlintに太字前後にスペースを入れるルールを追加 (#500)
  content/blog/20230701.md
  content/blog/20230702.md
  content/blog/20230703.md
  content/blog/20230704.md
  content/blog/20230705.md
  content/blog/20230706.md
  content/blog/20230707.md
  content/blog/20230708.md
  content/blog/20230709.md
  content/blog/20230710.md
  content/blog/20230711.md
  content/blog/20230712.md
  content/blog/20230713.md
  content/blog/20230714.md
  content/blog/20230715.md
  content/blog/20230716.md
  content/blog/20230717.md
  packages/textlint-rule-preset-custom/index.js
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: textlintで太字の前後にスペースを入れるルールをつくった
  content/blog/20230723.md
Due: none

feat: frontmatterの項目をチェックするtextlintルールを追加
  .changeset/funny-dodos-wonder.md
  README.md
  packages/README.md
  packages/textlint-rule-front-matter/README.md
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-front-matter/src/index.ts
  packages/textlint-rule-front-matter/test/index-test.ts
  packages/textlint-rule-front-matter/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

ci: frontmatterのチェックを追加
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  content/blog/index.md
  content/index.md
  package.json
  packages/textlint-rule-preset-custom/index.js
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
