Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

chore: 不要な変更がされているのを戻す
  packages/textlint-rule-preset-custom/CHANGELOG.md
  packages/textlint-rule-preset-custom/package.json
Due: prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2023/07/18） (#479)
  content/blog/20230718.md
Due: textlint --fix

build: enginesの指定を変更
  package.json
Due: prettier --write, prettier -w

chore: ドキュメントなど調整
  .github/CONTRIBUTING.md
  .github/workflows/release.yaml
  README.md
  package.json
Due: prettier --write, prettier -w, textlint --fix

build: codeflowがnode16での実行のようなので実行可能バージョンを変更
  .github/workflows/ci.yaml
  package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/07/19） (#486)
  content/blog/20230719.md
Due: textlint --fix

build: 環境のnodeとpnpmのバージョン設定を変更
  .github/CONTRIBUTING.md
  package.json
Due: prettier --write, prettier -w, textlint --fix

build(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
  turbo.json
  web/package.json
Due: prettier --write, prettier -w

ci: リリースのワークフローを調整
  .github/workflows/release.yaml
  package.json
Due: prettier --write, prettier -w

ci: buildとgenerateで確認するnodeバージョンに16を追加
  .github/workflows/ci.yaml
Due: prettier -w

ci: ワークフローの調整など (#507)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-preset-custom/package.json
  pnpm-lock.yaml
  turbo.json
  web/package.json
Due: prettier --write, prettier -w, textlint --fix

ci: renovateの設定を変更
  .github/renovate.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-preset-custom/package.json
Due: prettier --write, prettier -w

ci: renovateの設定を変更 (#509)
  .github/renovate.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-preset-custom/package.json
Due: prettier --write, prettier -w

docs: githubでautofix.ciをつかってコードを自動で修正する
  content/blog/20230724.md
Due: textlint --fix

ci: textlintのルールパッケージにeslintを導入
  packages/textlint-rule-front-matter/.eslintignore
  packages/textlint-rule-front-matter/.eslintrc.js
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/.eslintignore
  packages/textlint-rule-space-around-bold/.eslintrc.js
  packages/textlint-rule-space-around-bold/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

refactor: tsconfigを共通化
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-front-matter/tsconfig.json
  packages/textlint-rule-space-around-bold/package.json
  packages/textlint-rule-space-around-bold/tsconfig.json
  packages/tsconfig/textlint.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

test: ワークフローにtestの実行を追加
  .github/workflows/ci.yaml
Due: prettier -w

textlint ルールのパッケージの調整 (#511)
  .github/workflows/ci.yaml
  packages/textlint-rule-front-matter/.eslintignore
  packages/textlint-rule-front-matter/.eslintrc.js
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-front-matter/tsconfig.json
  packages/textlint-rule-space-around-bold/.eslintignore
  packages/textlint-rule-space-around-bold/.eslintrc.js
  packages/textlint-rule-space-around-bold/package.json
  packages/textlint-rule-space-around-bold/tsconfig.json
  packages/tsconfig/textlint.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: 夏は暑いことよりも虫がいることのほうが嫌という話
  content/blog/20230725.md
Due: textlint --fix

ci: リリースの設定を変更
  .npmrc
  package.json
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
Due: prettier --write, prettier -w

docs: ドキュメントを更新
  .github/CONTRIBUTING.md
  README.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/20） (#489)
  content/blog/20230720.md
Due: textlint --fix

chore: ドキュメントなど更新 (#516)
  .github/CONTRIBUTING.md
  .npmrc
  README.md
  package.json
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
Due: prettier --write, prettier -w, textlint --fix

build(deps): 依存関係を更新
  pnpm-lock.yaml
Due: prettier -w

docs: ブログ記事を追加（2023/07/21） (#492)
  content/blog/20230721.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/22） (#493)
  content/blog/20230722.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/23） (#501)
  content/blog/20230723.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/24） (#510)
  content/blog/20230724.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#524)
  package.json
  packages/social-share/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

fix: リリース時のワークフローを修正
  .github/workflows/release.yaml
Due: prettier -w

fix: リリース時のワークフローを修正 (#525)
  .github/workflows/release.yaml
Due: prettier -w

docs: 記事内の内部リンクを調整
  content/blog/20230722.md
Due: textlint --fix

docs: 記事内の内部リンクを調整 (#526)
  content/blog/20230722.md
Due: textlint --fix

docs: 滋賀県の長浜市内をうろうろしてきた
  content/blog/20230726.md
Due: textlint --fix

docs: 小学生の頃にやった自由研究をなんとか思い出してみる
  content/blog/20230727.md
Due: textlint --fix

docs: むか新のこがしバターケーキがうまい
  content/blog/20230728.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/25） (#515)
  content/blog/20230725.md
Due: textlint --fix

docs: xとなったtwitterをふりかえる
  content/blog/20230729.md
Due: textlint --fix

docs: ブログ記事を追加（2023/07/26） (#527)
  content/blog/20230726.md
Due: textlint --fix
