Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

docs: 大阪国際空港にJR伊丹駅から歩いて行ってみる
  content/blog/2024/03/23.md
Due: textlint --fix

fix: 前後の記事データと型が一致していない問題を修正
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w, stylelint --fix

fix: 前後の記事データと型が一致していない問題を修正 (#1044)
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: 飛行機には乗らないけど大阪国際空港に行ってきた
  content/blog/2024/03/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/10） (#1038)
  content/blog/2024/03/10.md
Due: textlint --fix

docs: 阪急宝塚線の大阪市の端っこ三国駅から梅田まで歩く
  content/blog/2024/03/26.md
Due: textlint --fix

docs: 春を探しに淀川沿いを歩きに行ってきた
  content/blog/2024/03/14.md
Due: textlint --fix

fix: 誤字を修正
  content/blog/2024/03/10.md
Due: textlint --fix

docs: 誤字を修正 (#1052)
  content/blog/2024/03/10.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/11） (#1039)
  content/blog/2024/03/11.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/12） (#1040)
  content/blog/2024/03/12.md
Due: textlint --fix

docs: ついたちなので井村屋のあずきバーを食べる
  content/blog/2024/04/01.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/13） (#1041)
  content/blog/2024/03/13.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/14） (#1045)
  content/blog/2024/03/14.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/15） (#1046)
  content/blog/2024/03/15.md
Due: textlint --fix

docs: スタバのキャラメリーミルクコーヒーフラペチーノを飲む
  content/blog/2024/03/27.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/16） (#1047)
  content/blog/2024/03/16.md
Due: textlint --fix

docs: 大阪環状線の鶴橋駅から桃谷駅までを散歩する
  content/blog/2024/03/30.md
Due: textlint --fix

docs: コンビニのレジ横に売ってるホットスナックを買いたい
  content/blog/2024/03/21.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/17） (#1048)
  content/blog/2024/03/17.md
Due: textlint --fix

docs: アメリカ村のクラブ会場に行って爆音ミュージックで盛り上がってきた
  content/blog/2024/03/31.md
Due: textlint --fix

docs: 雨の日に海の見えるカフェでゆっくり過ごす
  content/blog/2024/04/02.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/18） (#1049)
  content/blog/2024/03/18.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/19） (#1050)
  content/blog/2024/03/19.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/20） (#1051)
  content/blog/2024/03/20.md
Due: textlint --fix

docs: 都島から天神橋筋までを散歩する
  content/blog/2024/04/03.md
Due: textlint --fix

docs: 20年以上のロングセラー商品な生協のアーモンドリーフを食べる
  content/blog/2024/04/05.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1067)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/03/21） (#1058)
  content/blog/2024/03/21.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/22） (#1059)
  content/blog/2024/03/22.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/23） (#1060)
  content/blog/2024/03/23.md
Due: textlint --fix

docs: jr東西線御幣島駅周辺の地下道を歩く
  content/blog/2024/04/06.md
Due: textlint --fix

docs: robot roller-derby disco dodgeball の horde モードをやっている
  content/blog/2024/03/28.md
Due: textlint --fix

ci: linterの設定を追加
  .commitlintrc.cjs
  .editorconfig
  .eslintignore
  .eslintrc.cjs
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/dependabot.yaml
  .github/renovate.json
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/semantic-pr.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .prettierignore
  .prettierrc.cjs
  .textlintrc.cjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  LICENSE.md
  README.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

chore: ファイルをsrcディレクトリへ移動
  nuxt.config.ts
  server/tsconfig.json
  src/app.vue
  src/public/favicon.ico
  src/server/tsconfig.json
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

build: nuxtのモジュールを追加
  .prettierrc.cjs
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

feat: デフォルトのseo設定を追加
  content/index.md
  content/index.yaml
  nuxt.config.ts
  src/app.config.ts
  src/app.vue
  src/components/SeoDefault.vue
  src/composables/useWebsite.ts
  src/pages/index.vue
  src/public/android-chrome-192x192.png
  src/public/android-chrome-512x512.png
  src/public/apple-touch-icon.png
  src/public/authors/hiratake-24x24.webp
  src/public/browserconfig.xml
  src/public/favicon-16x16.png
  src/public/favicon-32x32.png
  src/public/favicon.ico
  src/public/logo.png
  src/public/mstile-144x144.png
  src/public/mstile-150x150.png
  src/public/mstile-310x150.png
  src/public/mstile-310x310.png
  src/public/mstile-70x70.png
  src/public/ogp.jpg
  src/public/safari-pinned-tab.svg
  src/public/site.webmanifest
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

build: cloudflare pages の設定を追加
  src/public/_headers
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
  textlint --fix: any of: *.md
