Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}": ["eslint --fix", "prettier -w"],
  "*.{json,yml,yaml,html,css,scss}": ["prettier -w"],
  "*.md": ["textlint --fix"]
}

build(deps): 依存関係を更新
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1114)
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/04/17） (#1103)
  content/blog/2024/04/17.md
Due: textlint --fix

fix: フィード内のコードブロックの出力を修正
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

docs: jr京都駅から阪急烏丸駅までを徒歩で行く
  content/blog/2024/05/05.md
Due: textlint --fix

docs: 大阪環状線の天満駅から桜ノ宮駅までを夜に散歩する
  content/blog/2024/05/10.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/18） (#1104)
  content/blog/2024/04/18.md
Due: textlint --fix

docs: ついたちなのでプレミアムなゴールドあずきバーを食べる
  content/blog/2024/05/01.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/19） (#1105)
  content/blog/2024/04/19.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/20） (#1106)
  content/blog/2024/04/20.md
Due: textlint --fix

docs: 趣味のパソコン作業したり在宅勤務したりするとき用に spirit city lofi sessions を買った
  content/blog/2024/05/11.md
Due: textlint --fix

docs: ごま団子専門店でごま団子を食べる
  content/blog/2024/04/25.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/21） (#1107)
  content/blog/2024/04/21.md
Due: textlint --fix

docs: あべの橋と出戸バスターミナルを結ぶ大阪シティバスの1号系統を乗り通す
  content/blog/2024/05/12.md
Due: textlint --fix

refactor: リファクタ
  src/server/routes/feed.xml.ts
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

fix: フィード内のコードブロックの出力を修正 (#1115)
  src/server/routes/feed.xml.ts
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

docs: 新世界を通って大阪環状線の天王寺駅から新今宮駅までを歩く
  content/blog/2024/05/17.md
Due: textlint --fix

build(deps): 依存関係の更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係の更新 (#1124)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/04/22） (#1108)
  content/blog/2024/04/22.md
Due: textlint --fix

docs: 韓国発のシートマスクcicaデイリースージングマスクを使ってみる
  content/blog/2024/05/13.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/23） (#1109)
  content/blog/2024/04/23.md
Due: textlint --fix

fix: rssフィードにおける改行の扱いを修正
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

fix: rssフィードにおける改行の扱いを修正 (#1126)
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2024/04/24） (#1110)
  content/blog/2024/04/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/25） (#1117)
  content/blog/2024/04/25.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/26） (#1118)
  content/blog/2024/04/26.md
Due: textlint --fix

docs: みたらし団子で有名な喜八洲総本舗の酒饅頭を食べる
  content/blog/2024/05/18.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/27） (#1119)
  content/blog/2024/04/27.md
Due: textlint --fix

docs: それでも私はdiscordをメモアプリとして使う
  content/blog/2024/05/02.md
Due: textlint --fix

docs: ぼっちなのでひとり焼肉に挑戦してみた
  content/blog/2024/05/19.md
Due: textlint --fix

docs: 奈良を代表する銘菓な横田福栄堂のみそせんべいを食べる
  content/blog/2024/05/21.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1141)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 近鉄大和西大寺駅から近鉄奈良駅までを徒歩で行く
  content/blog/2024/05/14.md
Due: textlint --fix

docs: 平城宮跡歴史公園内にある朱雀門ひろばへ行ってきた
  content/blog/2024/05/20.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/28） (#1120)
  content/blog/2024/04/28.md
Due: textlint --fix

docs: テリヤキバーガーの日なのでモスバーガーでテリヤキバーガーを食べる
  content/blog/2024/05/15.md
Due: textlint --fix

docs: 北恩加島と鶴町を結ぶ渡船に乗ってきた
  content/blog/2024/05/22.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/29） (#1121)
  content/blog/2024/04/29.md
Due: textlint --fix
