Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2024/10/17） (#1384)
  content/blog/2024/10/17.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/18） (#1385)
  content/blog/2024/10/18.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/19） (#1386)
  content/blog/2024/10/19.md
Due: textlint --fix

docs: プライバシーポリシーからclarityに関する条項を削除
  content/privacy/index.md
Due: textlint --fix

docs: プライバシーポリシーからclarityに関する条項を削除 (#1411)
  content/privacy/index.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1412)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 阪急神崎川駅から三国駅まで神崎川沿いを散歩する
  content/blog/2024/11/13.md
Due: textlint --fix

feat: ogp画像をリニューアル
  src/components/OgImage/BlogPost.vue
Due: eslint --fix, prettier -w

feat: ogp画像をリニューアル (#1413)
  src/components/OgImage/BlogPost.vue
Due: eslint --fix, prettier -w

docs: snsなどへシェアしたときに表示される画像をリニューアルしました
  content/blog/2024/11/09.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/20） (#1388)
  content/blog/2024/10/20.md
Due: textlint --fix

docs: googleが提供するaiサービス「gemini for google workspace」を使ってみる
  content/blog/2024/11/15.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/21） (#1389)
  content/blog/2024/10/21.md
Due: textlint --fix

docs: マクドナルドの三角チョコパイおいもとキャラメルを食べる
  content/blog/2024/11/07.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/22） (#1390)
  content/blog/2024/10/22.md
Due: textlint --fix

docs: 山崎実業のゴミ箱とダストワゴンを買った
  content/blog/2024/11/16.md
Due: textlint --fix

docs: 関西以西でしか買えない明治のカールを食べる
  content/blog/2024/11/17.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/23） (#1391)
  content/blog/2024/10/23.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/24） (#1394)
  content/blog/2024/10/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/25） (#1395)
  content/blog/2024/10/25.md
Due: textlint --fix

docs: セブンイレブン限定発売のスタバのペットボトル飲料「アップル＆ペアーティーラテウィズスパイス」を飲む
  content/blog/2024/11/12.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/26） (#1396)
  content/blog/2024/10/26.md
Due: textlint --fix

docs: ゴンチャの「マンゴー阿里山ウーロンミルクティー＋ナタデココ」を飲む
  content/blog/2024/11/14.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/27） (#1397)
  content/blog/2024/10/27.md
Due: textlint --fix

docs: 琵琶湖に架かる琵琶湖大橋を歩いて渡ってきた
  content/blog/2024/11/18.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/28） (#1398)
  content/blog/2024/10/28.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/29） (#1401)
  content/blog/2024/10/29.md
Due: textlint --fix

fix: トップページの左右の余白を修正
  src/components/home/Blog.vue
  src/components/home/Profile.vue
Due: eslint --fix, prettier -w

fix: トップページの左右の余白を修正 (#1434)
  src/components/home/Blog.vue
  src/components/home/Profile.vue
Due: eslint --fix, prettier -w

docs: ブログ記事を追加（2024/10/30） (#1402)
  content/blog/2024/10/30.md
Due: textlint --fix

docs: ブログ記事を追加（2024/10/31） (#1403)
  content/blog/2024/10/31.md
Due: textlint --fix

docs: キャンペーンに当選してjr西日本のwesterポイントをいっぱい貰った話
  content/blog/2024/11/20.md
Due: textlint --fix

docs: 昨今のsns利用について思うこと
  content/blog/2024/11/23.md
Due: textlint --fix

docs: ブログ記事を追加（2024/11/01） (#1404)
  content/blog/2024/11/01.md
Due: textlint --fix

docs: 日記の新しい投稿をblueskyへポストするアカウントの運用を開始しました
  content/blog/2024/11/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/11/02） (#1405)
  content/blog/2024/11/02.md
Due: textlint --fix

chore(deps): v4.4.0のハッシュ値に変更
  .github/workflows/dependency-review.yaml
Due: prettier -w

build(deps): 依存関係を更新
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

build(deps): 依存関係を更新 (#1436)
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
