Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: プレビュー表示時にプレビューであることを示す通知を追加
  pages/_app.tsx
  pages/blog/[id].tsx
Due: eslint --fix, prettier --write

fix: ブログ記事の型指定の誤りを修正
  pages/api/preview.ts
  pages/blog/[id].tsx
  pages/blog/index.tsx
  pages/contact.tsx
  pages/privacy.tsx
  types/cms.ts
Due: eslint --fix, prettier --write

fix: readmeのロゴがlightとdarkでサイズが異なる問題を修正
  public/images/logo-dark.svg
  public/images/logo.svg
Due: none

refactor: トップページのアイコン画像表示部分を調整
  pages/index.tsx
Due: eslint --fix, prettier --write

build: webpack bundle analyze を導入
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: publishedAtが存在しない場合に日付が正しく表示されない問題を修正
  pages/blog/[id].tsx
  pages/blog/index.tsx
Due: eslint --fix, prettier --write

feat: web-vitalsの計測用コンポーネントを追加
  components/WebVitals.tsx
  package-lock.json
  package.json
  pages/_app.tsx
Due: eslint --fix, prettier --write

chore: 誤ってパッケージ公開が行われないようprivate指定を追加
  package-lock.json
  package.json
Due: prettier --write

refactor: 日付形式変更の処理を共通化
  components/PageContainer.tsx
  pages/blog/[id].tsx
  pages/blog/index.tsx
  utils/datetime.ts
Due: eslint --fix, prettier --write

chore: zodからyupへ置き換え
  package-lock.json
  package.json
  pages/contact.tsx
Due: eslint --fix, prettier --write

feat: ブログ記事一覧にタグ表示を追加
  pages/blog/index.tsx
Due: eslint --fix, prettier --write

feat: ブログ記事詳細にタグ表示を追加
  components/PageContainer.tsx
  pages/blog/[id].tsx
Due: eslint --fix, prettier --write

ci: 検証するnodeのバージョンに18を追加
  .github/workflows/ci.yml
Due: none

build: turborepoを導入
  .gitignore
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

ci: commitlintを導入
  .commitlintrc.js
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: prettierを導入
  .commitlintrc.js
  .editorconfig
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: ワークスペースで使用する共通eslint設定パッケージを追加
  packages/README.md
  packages/eslint-config-custom/README.md
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: ワークスペースで使用する共通stylelint設定パッケージを追加
  packages/README.md
  packages/stylelint-config/.eslintrc.js
  packages/stylelint-config/README.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: コミット時にlinterを実行するよう設定を追加
  .eslintrc.js
  .lintstagedrc.json
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 新規nuxtアプリケーションを追加
  .gitignore
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  web/README.md
  web/app.vue
  web/nuxt.config.ts
  web/package.json
  web/public/favicon.ico
  web/server/tsconfig.json
  web/tsconfig.json
Due: eslint --fix, prettier --write

chore: ファイルをsrcディレクトリへ移動
  web/nuxt.config.ts
  web/server/tsconfig.json
  web/src/app.vue
  web/src/public/favicon.ico
  web/src/server/tsconfig.json
Due: eslint --fix, prettier --write

ci: nuxtアプリケーションのlinter設定を追加
  pnpm-lock.yaml
  web/.eslintignore
  web/.eslintrc.js
  web/.stylelintignore
  web/.stylelintrc.js
  web/nuxt.config.ts
  web/package.json
Due: eslint --fix, prettier --write

feat: ワークスペースで使用する共通のtailwindcss設定パッケージを追加
  .prettierrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/README.md
  packages/tailwind-config/.eslintrc.js
  packages/tailwind-config/README.md
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

build: nuxtアプリにtailwindcssの設定を追加
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/assets/tailwind.css
  web/tailwind.config.js
Due: eslint --fix, prettier --write

feat: seoの設定をいい感じにしてくれるモジュールを追加
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/app.vue
Due: eslint --fix, prettier --write

feat: contentモジュールを追加
  .vscode/extensions.json
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/content/index.md
Due: eslint --fix, prettier --write

chore: contentディレクトリの場所を変更
  content/index.md
  web/nuxt.config.ts
Due: eslint --fix, prettier --write

chore: github用のファイルを追加
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/dependabot.yaml
  .github/renovate.json
Due: prettier --write

ci: ciのワークフローを追加
  .github/workflows/ci.yaml
Due: none

ci: autofixのワークフローを追加
  .github/workflows/autofix.yaml
  package.json
  packages/eslint-config-custom/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  turbo.json
  web/package.json
Due: prettier --write

feat: ヘッダーコンポーネントを追加
  web/src/app.vue
  web/src/components/TheHeader.vue
  web/src/public/logo.svg
Due: none

feat: カラーモードの切り替えを実装
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/app.vue
  web/src/components/TheHeader.vue
  web/src/public/logo-dark.svg
  web/src/public/logo-light.svg
Due: eslint --fix, prettier --write

chore: デフォルトのレイアウトを追加
  web/src/layouts/default.vue
Due: none

docs: プライバシーポリシーの文章を追加
  content/privacy.md
Due: none

feat: 記事のヘッダーを追加
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  web/package.json
  web/src/app.vue
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write

refactor: 著者情報をappConfigに記述し共通で使えるよう変更
  web/src/app.config.ts
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write

chore: 記事本文のスタイルを調整
  packages/tailwind-config/tailwind.config.js
Due: eslint --fix, prettier --write

docs: readmeを更新
  README.md
  web/README.md
Due: none

feat: フッターコンポーネントを追加
  web/src/app.vue
  web/src/components/TheFooter.vue
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
