Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

ci: renovateの設定を変更
  .github/renovate.json
Due: prettier --write, prettier -w

ci: renovateの設定を変更 (#2191)
  .github/renovate.json
Due: prettier --write, prettier -w

build: pnpmとnodeのバージョンを更新
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

fix: セキュリティアップデート
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier -w

docs: なにわのシンボル「通天閣」へ行ってきた
  content/blog/2026/04/27.md
Due: textlint --fix

chore: vscodeの設定を変更
  .vscode/settings.json
Due: prettier --write, prettier -w

docs: 中田屋のきんつば「さくら」を食べる
  content/blog/2026/04/30.md
Due: textlint --fix

docs: ブログ記事を追加（2026/04/27） (#2214)
  content/blog/2026/04/27.md
Due: textlint --fix

build(deps): nuxtを更新
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): nuxtを更新 (#2234)
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: やたら圧を感じる売られ方をしている駅クラッカー塩シュガーバター味を食べてみた
  content/blog/2026/05/03.md
Due: textlint --fix

docs: textlintエラーを修正
  content/blog/2026/05/03.md
Due: textlint --fix

docs: ブログ記事を追加（2026/04/30） (#2222)
  content/blog/2026/04/30.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/03） (#2237)
  content/blog/2026/05/03.md
Due: textlint --fix

docs: 快速マリンライナーのパノラマシートに岡山から高松まで乗ってみた
  content/blog/2026/05/06.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/06.md
Due: textlint --fix

docs: 日帰りで巡る香川うどん屋ハシゴ旅
  content/blog/2026/05/09.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/09.md
Due: textlint --fix

docs: 香川県庁の展望室から高松の街を見る
  content/blog/2026/05/12.md
Due: textlint --fix

build(deps): nuxtを更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): nuxtを更新 (#2248)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2026/05/06） (#2243)
  content/blog/2026/05/06.md
Due: textlint --fix

docs: 特別名勝に指定されている庭園「栗林公園」を歩く
  content/blog/2026/05/15.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/15.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/09） (#2244)
  content/blog/2026/05/09.md
Due: textlint --fix

docs: これまでの人生で一度も行ったことのないハンバーガーチェーン店を巡る
  content/blog/2026/05/18.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/18.md
Due: textlint --fix

docs: jr和田岬線の和田岬駅から兵庫駅までを歩いて移動してみた
  content/blog/2026/05/21.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/21.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/12） (#2247)
  content/blog/2026/05/12.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/15） (#2251)
  content/blog/2026/05/15.md
Due: textlint --fix

docs: 大阪ベイエリアのランドマーク「さきしまコスモタワー展望台」へ行ってきた
  content/blog/2026/05/27.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/18） (#2256)
  content/blog/2026/05/18.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/21） (#2257)
  content/blog/2026/05/21.md
Due: textlint --fix

docs: スタバのイチゴチョコレートフラペチーノを飲む
  content/blog/2026/05/24.md
Due: textlint --fix

docs: 咲洲の南側にある広い公園「南港中央公園」を散歩する
  content/blog/2026/05/30.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/05/30.md
Due: textlint --fix

build: pnpmをv11へ更新
  .npmrc
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, prettier -w

build: pnpmをv11へ更新 (#2281)
  .npmrc
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2026/05/24） (#2274)
  content/blog/2026/05/24.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
