Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

docs: readmeを更新 (#848)
  README.md
Due: textlint --fix

docs: アメリカン・エキスプレスの楽天カードをつくってみた
  content/blog/20231205.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/27） (#837)
  content/blog/20231127.md
Due: textlint --fix

docs: ブログ記事をどうやって書いているかについて書く
  content/blog/20231206.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/28） (#839)
  content/blog/20231128.md
Due: textlint --fix

Revert "fix: 出力されるドメイン名が異なる問題を修正 (#836)"
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

chore: ドメインを cloudflare の環境変数から取得するよう変更 (#855)
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2023/11/29） (#840)
  content/blog/20231121.md
  content/blog/20231129.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/30） (#842)
  content/blog/20231130.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/01） (#843)
  content/blog/20231201.md
Due: textlint --fix

docs: 最近よく使う言葉について書いてみる
  content/blog/20231207.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/02） (#844)
  content/blog/20231202.md
Due: textlint --fix

docs: 大正区を通る大正通を端から端まで歩いてみた
  content/blog/20231208.md
Due: textlint --fix

docs: 書くことがないので天気の話でもする
  content/blog/20231209.md
Due: textlint --fix

build: node20系に更新
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build: node20系に更新 (#859)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 大阪市西区にある東西に広い靭公園を夜に歩きに行ってきた
  content/blog/20231210.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#861)
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 清水の舞台で有名な京都の清水寺へ行ってきた
  content/blog/20231211.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/03） (#846)
  content/blog/20231203.md
Due: textlint --fix

docs: 京阪電車のプレミアムカーに乗って京都へ行く
  content/blog/20231212.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/04） (#847)
  content/blog/20231204.md
Due: textlint --fix

docs: スタバのメルティホワイトピスタチオモカを飲む
  content/blog/20231213.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/05） (#849)
  content/blog/20231205.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/06） (#852)
  content/blog/20231206.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/07） (#856)
  content/blog/20231207.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/08） (#857)
  content/blog/20231208.md
Due: textlint --fix

docs: 今年書いたブログ記事を振り返る
  content/blog/20231214.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/09） (#858)
  content/blog/20231209.md
Due: textlint --fix

docs: cities skylines で10万人都市を目指す part8
  content/blog/20231215.md
Due: textlint --fix

docs: 仕事帰りに梅田から扇町まで扇町通を歩く
  content/blog/20231216.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#873)
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 京都発のクラフトコーラ「カカオ生コーラ」を飲む
  content/blog/20231217.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/10） (#860)
  content/blog/20231210.md
Due: textlint --fix

docs: セブンイレブンのプレーンビスケットを食べる
  content/blog/20231218.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/11） (#862)
  content/blog/20231211.md
Due: textlint --fix

docs: ネット予約で利用できるようになったjr西日本の株主優待鉄道割引券を使う
  content/blog/20231219.md
Due: textlint --fix

docs: ブログ記事を追加（2023/12/12） (#863)
  content/blog/20231212.md
Due: textlint --fix
