Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

docs: ブログ記事を追加（2023/08/25） (#625)
  content/blog/20230825.md
Due: textlint --fix

docs: 青春18きっぷで大阪から日帰りで名古屋に行ってきた
  content/blog/20230830.md
Due: textlint --fix

fix: contentListコンポーネントの重複を修正
  content/blog/index.md
  web/src/components/content/ArticleList.vue
  web/src/components/content/ArticleListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix, textlint --fix

fix: contentListコンポーネントの重複を修正 (#642)
  content/blog/index.md
  web/src/components/content/ArticleList.vue
  web/src/components/content/ArticleListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix, textlint --fix

docs: ブログ記事を追加（2023/08/26） (#627)
  content/blog/20230826.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/27） (#628)
  content/blog/20230827.md
Due: textlint --fix

docs: 天保山と桜島を結ぶ渡船に乗ってきた
  content/blog/20230831.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#646)
  package.json
  packages/eslint-config-custom/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 観光施設がたくさんある大阪ベイエリアを歩く
  content/blog/20230901.md
Due: textlint --fix

chore: vscodeの設定を追加
  .vscode/settings.json
Due: prettier --write, prettier -w

chore: vscodeの設定を追加 (#648)
  .vscode/settings.json
Due: prettier --write, prettier -w

build: workflowでのデプロイを削除
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
Due: prettier -w

build: workflowでのデプロイを削除 (#649)
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
Due: prettier -w

docs: ブログ記事を追加（2023/08/28） (#629)
  content/blog/20230828.md
Due: textlint --fix

ci: プルリクエストのタイトルを検証するワークフローを追加
  .github/workflows/pr.yaml
Due: prettier -w

ci: プルリクエストのタイトルを検証するワークフローを追加 (#650)
  .github/workflows/pr.yaml
Due: prettier -w

chore: actionsのコミットを固定
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: prettier -w

chore: actionsのコミットを固定 (#652)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: prettier -w

docs: モロッコ料理を食べに行ったときの話
  content/blog/20230902.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/29） (#634)
  content/blog/20230829.md
Due: textlint --fix

ci: renovateの設定を変更
  .github/renovate.json
Due: prettier --write, prettier -w

ci: renovateの設定を変更 (#658)
  .github/renovate.json
Due: prettier --write, prettier -w

ci: 依存関係のスキャンをするワークフローを追加
  .github/workflows/dependency-review.yaml
  .github/workflows/semantic-pr.yaml
Due: prettier -w

ci: 依存関係のスキャンをするワークフローを追加 (#660)
  .github/workflows/dependency-review.yaml
  .github/workflows/semantic-pr.yaml
Due: prettier -w

chore(deps): dedupe dependencies
  pnpm-lock.yaml
Due: prettier -w

chore(deps): dedupe dependencies (#662)
  pnpm-lock.yaml
Due: prettier -w

fix: devコマンドが動作しないためrevert
  pnpm-lock.yaml
Due: prettier -w

fix: devコマンドが動作しないためrevert (#663)
  pnpm-lock.yaml
Due: prettier -w

docs: squash and merge で規約に則ったコミットメッセージにする
  content/blog/20230903.md
Due: textlint --fix

chore: 記事一覧のリンクにタイトルを設定
  web/src/components/content/ArticleListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: 記事一覧のリンクにタイトルを設定 (#665)
  web/src/components/content/ArticleListItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/30） (#636)
  content/blog/20230830.md
Due: textlint --fix

feat: rssフィードにブログ記事本文の内容を追加
  web/src/server/routes/feed.xml.ts
  web/src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

feat: rssフィードにブログ記事本文の内容を追加 (#667)
  web/src/server/routes/feed.xml.ts
  web/src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

docs: スタバのおさつバターフラペチーノを飲む
  content/blog/20230904.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/31） (#645)
  content/blog/20230831.md
Due: textlint --fix

chore(deps): regenerate lock file
  pnpm-lock.yaml
Due: prettier -w

docs: ブログ記事を追加（2023/09/01） (#647)
  content/blog/20230901.md
Due: textlint --fix

docs: 修学旅行で台湾でパイナップルケーキ作り体験をしたときの思い出
  content/blog/20230905.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
  textlint --fix: any of: *.md
