Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

build(deps): 必要なnodeバージョンを変更
  package.json
Due: prettier --write, prettier -w

docs: 電車で南条サービスエリアへ行ってきた
  content/blog/20230819.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/16） (#586)
  content/blog/20230816.md
Due: textlint --fix

docs: 山中温泉にある鶴仙渓沿いを歩いてきた
  content/blog/20230820.md
Due: textlint --fix

docs: 家でナンミックスを使ってナンを焼いて食べる
  content/blog/20230821.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/17） (#601)
  content/blog/20230817.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/18） (#602)
  content/blog/20230818.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/19） (#603)
  content/blog/20230819.md
Due: textlint --fix

docs: 石川県の季節の和菓子について書く
  content/blog/20230822.md
Due: textlint --fix

docs: readmeにblueskyのリンクを追加
  README.md
Due: textlint --fix

docs: readmeにblueskyのリンクを追加 (#615)
  README.md
Due: textlint --fix

build: webの依存関係にtsconfigパッケージを追加
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build: webの依存関係にtsconfigパッケージを追加 (#616)
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#617)
  package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ひとり暮らしの掃除にウタマロクリーナーはいいぞという話
  content/blog/20230823.md
Due: textlint --fix

refactor: シェアボタンを共通化
  web/src/components/ArticleFooter.vue
  web/src/components/SocialShareItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: シェアボタンを共通化 (#619)
  web/src/components/ArticleFooter.vue
  web/src/components/SocialShareItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

feat: サービス名を追加
  packages/social-share/src/components/SocialShare/index.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
Due: eslint --fix, prettier --write, prettier -w

docs: 更新履歴を追加
  .changeset/honest-pugs-bathe.md
Due: textlint --fix

feat: サービス名を追加 (#620)
  .changeset/honest-pugs-bathe.md
  packages/social-share/src/components/SocialShare/index.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

refactor: サービス名の取得方法を変更
  web/src/components/SocialShareItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: サービス名の取得方法を変更 (#622)
  web/src/components/SocialShareItem.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/20） (#607)
  content/blog/20230820.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/21） (#608)
  content/blog/20230821.md
Due: textlint --fix

docs: 地下鉄全線24時間券でお得に名古屋を観光してきた
  content/blog/20230824.md
Due: textlint --fix

docs: 今更ながらファミマのファミペイを使ってみる
  content/blog/20230825.md
Due: textlint --fix

docs: 名古屋港水族館で海のいきものを見てきた
  content/blog/20230826.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/22） (#614)
  content/blog/20230822.md
Due: textlint --fix

docs: 大須商店街でケバブを食べ食べする
  content/blog/20230827.md
Due: textlint --fix

docs: ブログ記事を追加（2023/08/23） (#618)
  content/blog/20230823.md
Due: textlint --fix

docs: アニソンすきだから聴くけどアニメ見ないから何の曲か分からない話
  content/blog/20230828.md
Due: textlint --fix

chore: vscodeのcssの設定を変更
  .vscode/settings.json
Due: prettier --write, prettier -w

refactor: 前後の記事へのリンクのスタイルをapplyでまとめる
  web/src/components/ArticleFooter.vue
Due: eslint --fix, prettier -w, stylelint --fix

refactor: 前後の記事へのリンクのスタイルを `@apply` で調整 (#630)
  .vscode/settings.json
  web/src/components/ArticleFooter.vue
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

chore: ページが見つからない場合の表示を調整
  web/src/components/DocumentDrivenNotFound.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: ページが見つからない場合の表示を調整 (#631)
  web/src/components/DocumentDrivenNotFound.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/08/24） (#624)
  content/blog/20230824.md
Due: textlint --fix

docs: 仕事終わりに寺田町駅から天王寺駅まで飲み物片手に散歩をする
  content/blog/20230829.md
Due: textlint --fix
