Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}": ["eslint --fix", "prettier -w"],
  "*.{json,yml,yaml,html,css,scss}": ["prettier -w"],
  "*.md": ["textlint --fix"]
}

feat: ヘッダーを追加
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/components/TheHeader.vue
  src/public/logo-dark.svg
  src/public/logo-light.svg
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

feat: フッターを追加
  src/app.vue
  src/components/TheFooter.vue
Due: eslint --fix, prettier -w

feat: トップページのヒーローセクションを追加
  content/index.yaml
  src/components/home/Hero.vue
  src/pages/index.vue
  src/public/assets/hero-lg.jpg
  src/public/assets/hero-md.jpg
  src/public/assets/hero-sm.jpg
Due: eslint --fix, prettier -w

feat: トップページのプロフィールセクションを追加
  content/index.yaml
  src/components/home/Profile.vue
  src/pages/index.vue
Due: eslint --fix, prettier -w

refactor: もっとみるボタンを別コンポーネントに切り出し
  package.json
  pnpm-lock.yaml
  src/components/home/MoreButton.vue
  src/components/home/Profile.vue
Due: eslint --fix, prettier --write, prettier -w

feat: トップページのブログセクションを追加
  content/index.yaml
  src/components/BlogList.vue
  src/components/home/Blog.vue
  src/pages/index.vue
  src/types/index.ts
Due: eslint --fix, prettier --write, prettier -w

feat: ブログの一覧ページを追加
  content/about/index.md
  content/blog/index.yaml
  content/contact/index.md
  content/privacy/index.md
  src/components/articles/List.vue
  src/components/home/Blog.vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/index.vue
Due: eslint --fix, prettier -w, textlint --fix

feat: ページネーションを追加
  src/app.config.ts
  src/components/articles/List.vue
  src/components/articles/Pagination.vue
  src/components/home/MoreButton.vue
  src/composables/useTrailingSlash.ts
  src/composables/useWebsite.ts
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2024/03/24） (#1061)
  content/blog/2024/03/24.md
Due: textlint --fix

feat: ブログ投稿ページを追加
  src/app.config.ts
  src/components/articles/PageHeader.vue
  src/pages/blog/[slug].vue
  src/types/index.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

feat: ブログ投稿ページのフッターを追加
  src/components/articles/PageFooter.vue
  src/pages/blog/[slug].vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

feat: ブログ以外のページを追加
  src/pages/[...slug].vue
Due: eslint --fix, prettier -w

feat: rssフィードの生成処理を追加
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/server/routes/feed.xml.ts
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

fix: パンくずリストの生成時のエラーを修正
  src/pages/[...slug].vue
Due: eslint --fix, prettier -w

feat: エラーページを追加
  src/error.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
Due: eslint --fix, prettier -w

fix: モバイル表示時にナビゲーション項目クリックでメニューが閉じない問題を修正
  src/components/TheHeader.vue
Due: eslint --fix, prettier -w

feat: コンテンツ表示部分を実装
  package.json
  pnpm-lock.yaml
  src/components/DocumentEmpty.vue
  src/components/content/ArticleRuby.vue
  src/components/content/ProseImg.vue
  src/pages/[...slug].vue
  src/pages/blog/[slug].vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

chore: 本文のスタイルを調整
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/components/articles/PageHeader.vue
  src/components/content/ProseA.vue
  src/components/content/ProseCodeInline.vue
  src/components/content/ProseH2.vue
  src/components/content/ProseH3.vue
  src/components/content/ProseH4.vue
  src/components/content/ProseImg.vue
  src/components/content/ProseOl.vue
  src/components/content/ProseP.vue
  src/components/content/ProseUl.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write, prettier -w

fix: パッケージ側の問題と思われるタイプエラーを無視するよう変更
  src/server/routes/feed.xml.ts
  src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

feat: ブログ投稿のogp画像を追加
  nuxt.config.ts
  src/components/OgImage/BlogPost.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, prettier -w

fix: public内のsvgを読み込めない問題を修正
  src/components/OgImage/BlogPost.vue
Due: eslint --fix, prettier -w

docs: ウェブサイトをおよそ半年ぶりにリニューアルしました
  content/blog/2024/04/07.md
Due: textlint --fix

docs: nuxtの動的ルーティングで一覧画面のページングに共通のvueファイルを使う
  content/blog/2024/04/08.md
Due: textlint --fix

docs: ブログ記事を追加（2024/03/25） (#1062)
  content/blog/2024/03/25.md
Due: textlint --fix

chore: 記事の文章を修正
  content/blog/2024/01/12.md
Due: textlint --fix

chore: 記事の文章を修正 (#1080)
  content/blog/2024/01/12.md
Due: textlint --fix

chore: descriptionが無い場合でも投稿一覧に表示するよう変更
  src/components/articles/List.vue
Due: eslint --fix, prettier -w

chore: コンテンツがない場合の表示を調整
  src/components/DocumentEmpty.vue
Due: eslint --fix, prettier -w

build: package.jsonに指定したengineの設定を尊重するよう変更
  .npmrc
Due: none

docs: ブログ記事を追加（2024/03/26） (#1063)
  content/blog/2024/03/26.md
Due: textlint --fix

chore: ogp画像を調整
  src/components/OgImage/BlogPost.vue
Due: eslint --fix, prettier -w

build: フォントの読み込みをnuxtのfontモジュールに変更
  .gitignore
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/error.vue
Due: eslint --fix, prettier --write, prettier -w

chore: ダークモード時の「続きを読む」ボタンの色を調整
  src/components/articles/List.vue
Due: eslint --fix, prettier -w

chore: ブログ投稿一覧ページの概要文の見た目を調整
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint --fix, prettier -w

perf: 読み込みに失敗するもしくは遅いためfontモジュールを削除
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/app.vue
Due: eslint --fix, prettier --write, prettier -w

docs: 運営者情報を更新
  content/about/index.md
Due: textlint --fix

chore: 見出しの見た目を調整
  src/components/content/ProseH2.vue
  src/components/content/ProseH3.vue
  src/components/content/ProseH4.vue
Due: eslint --fix, prettier -w

docs: 阪和線の美章園駅から近鉄大阪阿倍野橋駅までを歩く
  content/blog/2024/04/09.md
Due: textlint --fix

perf: ヒーロー画像をjpgからwebpに変更
  content/index.yaml
  src/public/assets/hero-lg.jpg
  src/public/assets/hero-lg.webp
  src/public/assets/hero-md.jpg
  src/public/assets/hero-md.webp
  src/public/assets/hero-sm.jpg
  src/public/assets/hero-sm.webp
Due: prettier -w

chore: ロゴ画像の場所を変更
  src/components/TheHeader.vue
  src/public/assets/logo-dark.svg
  src/public/assets/logo-light.svg
Due: eslint --fix, prettier -w
