Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 仕事帰りに夜の中津の街を歩く
  content/blog/2024/04/20.md
Due: textlint --fix

docs: きんつばは金沢の中田屋のが一番うまい
  content/blog/2024/04/21.md
Due: textlint --fix

chore: 前後の投稿へのリンクの見た目を調整
  src/components/PageFooter.vue
Due: eslint --fix, prettier -w

docs: ブログ記事を追加（2024/04/04） (#1087)
  content/blog/2024/04/04.md
Due: textlint --fix

build: nodeとパッケージマネージャーのバージョンを更新
  package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2024/04/05） (#1088)
  content/blog/2024/04/05.md
Due: textlint --fix

chore: リストが入れ子になった場合の余白を調整
  src/components/content/ProseLi.vue
Due: eslint --fix, prettier -w

docs: gasを使って小説家になろうの小説が更新されたらdiscordに通知する
  content/blog/2024/04/22.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/06） (#1089)
  content/blog/2024/04/06.md
Due: textlint --fix

build(deps): 依存関係を更新
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: バージョンについての補足を追加
  content/blog/2024/04/13.md
Due: textlint --fix

docs: 春のあびこ駅から長居駅までを散歩する
  content/blog/2024/04/11.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/07） (#1090)
  content/blog/2024/04/07.md
Due: textlint --fix

docs: 脱毛前の剃毛に使っているシェービングフォームの話
  content/blog/2024/04/23.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/08） (#1091)
  content/blog/2024/04/08.md
Due: textlint --fix

docs: 大阪造幣局の「桜の通り抜け」に行ってきた
  content/blog/2024/04/24.md
Due: textlint --fix

docs: 宮古島の雪塩を使ったドトールコーヒーショップの沖縄黒糖黒ごまラテを飲む
  content/blog/2024/04/26.md
Due: textlint --fix

docs: 誤字修正
  content/blog/2024/04/24.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/09） (#1092)
  content/blog/2024/04/09.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/10） (#1093)
  content/blog/2024/04/10.md
Due: textlint --fix

docs: 菅原道真公を祀っている天満の大阪天満宮へ行ってきた
  content/blog/2024/04/27.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/11） (#1097)
  content/blog/2024/04/11.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/12） (#1098)
  content/blog/2024/04/12.md
Due: textlint --fix

docs: スタバのgohobiメロンフラペチーノを飲む
  content/blog/2024/04/18.md
Due: textlint --fix

docs: コンビニで買えるスタバの新商品ハニーレモンカスタードを飲む
  content/blog/2024/04/29.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/13） (#1099)
  content/blog/2024/04/13.md
Due: textlint --fix

docs: 徒歩と電車で東大阪市のポケふたを全部見に行く
  content/blog/2024/04/30.md
Due: textlint --fix

docs: 高速道路のジャンクションが見える東大阪市役所の展望ロビーから景色を見る
  content/blog/2024/05/04.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/14） (#1100)
  content/blog/2024/04/14.md
Due: textlint --fix

docs: ビジョンメガネのビジョンパーフェクト保証に救われた話
  content/blog/2024/05/07.md
Due: textlint --fix

docs: よーじやの日なので京都のよーじやカフェに行ってみた
  content/blog/2024/04/28.md
Due: textlint --fix

docs: 数量限定販売なファミリーマートのあげぱんみたいなアイスバーを食べる
  content/blog/2024/05/06.md
Due: textlint --fix

chore: vscodeのデバッグの設定を変更
  .vscode/launch.json
Due: prettier --write, prettier -w

chore: vscodeのデバッグの設定を変更 (#1111)
  .vscode/launch.json
Due: prettier --write, prettier -w

docs: ジェイアール京都伊勢丹にある蜜香屋tutitoで芋けんぴを詰めてもらった
  content/blog/2024/05/08.md
Due: textlint --fix

docs: 京都駅ビルの東西をつなぐ空中往路を歩いてきた
  content/blog/2024/05/03.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/15） (#1101)
  content/blog/2024/04/15.md
Due: textlint --fix

docs: ブログ記事を追加（2024/04/16） (#1102)
  content/blog/2024/04/16.md
Due: textlint --fix

build: デフォルトで有効となった項目をnpmrcから削除
  .npmrc
Due: none

build: lockファイルを再生成
  pnpm-lock.yaml
Due: prettier -w

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
