Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}": ["eslint --fix", "prettier -w"],
  "*.{json,yml,yaml,html,css,scss}": ["prettier -w"],
  "*.md": ["textlint --fix"]
}

docs: ドキュメントを更新
  .github/CONTRIBUTING.md
  .github/renovate.json
  README.md
Due: prettier --write, prettier -w, textlint --fix

docs: ドキュメントを更新 (#2375)
  .github/CONTRIBUTING.md
  .github/renovate.json
  README.md
Due: prettier --write, prettier -w, textlint --fix

build: デプロイの安定化のため設定を変更
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

build: デプロイの安定化のため設定を変更 (#2376)
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: スタバのぎゅぎゅっとオレンジ＆マンゴーフラペチーノを飲む
  content/blog/2026/08/04.md
Due: textlint --fix

docs: ブログ記事を追加（2026/07/26） (#2366)
  content/blog/2026/07/26.md
Due: textlint --fix

docs: やたら圧を感じる売られ方をしている西日本限定「ぼんち揚たこ焼ソース味」を食べてみた
  content/blog/2026/08/01.md
Due: textlint --fix

chore: コードブロックのスタイルを変更
  app/app.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

chore: コードブロックのスタイルを変更 (#2385)
  app/app.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: ウェブサイトの中身を nuxt ui に置き換える
  content/blog/2026/09/03.md
Due: textlint --fix

docs: ブログ記事を追加（2026/07/29） (#2367)
  content/blog/2026/07/29.md
Due: textlint --fix

docs: switchbotのハブ2を買った
  content/blog/2026/08/16.md
Due: textlint --fix

ci: aiエージェント用の指示ファイルを追加
  .coderabbit.yaml
  .github/skills/content.md
  .vscode/settings.json
  AGENTS.md
Due: prettier --write, prettier -w, textlint --fix

Apply suggestions from code review
  .github/skills/content.md
Due: textlint --fix

ci: aiエージェント用の指示ファイルを追加 (#2387)
  .coderabbit.yaml
  .github/skills/content.md
  .vscode/settings.json
  AGENTS.md
Due: prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2026/08/01） (#2377)
  content/blog/2026/08/01.md
Due: textlint --fix

fix: 重複するurlをサイトマップから除外
  content.config.ts
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

fix: 重複するurlをサイトマップから除外 (#2390)
  content.config.ts
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

ci: coderabbitの設定を変更
  .coderabbit.yaml
Due: prettier -w

ci: coderabbitの設定を変更 (#2391)
  .coderabbit.yaml
Due: prettier -w

fix: zodのバージョンに関する警告文が出力される問題を修正
  content.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

fix: zodのバージョンに関する警告文が出力される問題を修正 (#2392)
  content.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: ガムを噛む習慣を復活させた話
  content/blog/2026/08/25.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/04） (#2378)
  content/blog/2026/08/04.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/07） (#2379)
  content/blog/2026/08/07.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/10） (#2380)
  content/blog/2026/08/10.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/13） (#2381)
  content/blog/2026/08/13.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/16） (#2388)
  content/blog/2026/08/16.md
Due: textlint --fix

fix: パンくずリストの構造化データが正しくない問題を修正
  app/pages/[...slug].vue
Due: eslint --fix, prettier -w

fix: パンくずリストの構造化データが正しくない問題を修正 (#2397)
  app/pages/[...slug].vue
Due: eslint --fix, prettier -w

docs: westerアプリのスタンプラリー「尼崎市市制110周年～尼崎の今昔めぐり～」のスポットを巡る
  content/blog/2026/08/19.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/19） (#2398)
  content/blog/2026/08/19.md
Due: textlint --fix

docs: aiがコードをレビューしてくれるcoderabbitを使ってみる
  content/blog/2026/08/22.md
Due: textlint --fix

docs: ブログ記事を追加（2026/08/22） (#2399)
  content/blog/2026/08/22.md
Due: textlint --fix

build(deps): 依存関係を更新
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#2401)
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build: アイコンのバンドル設定を追加
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

build: アイコンをスキャンするよう変更
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

build: アイコンのバンドル設定を追加 (#2402)
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: スタバの芳醇巨峰フローズンティーを飲む
  content/blog/2026/08/28.md
Due: textlint --fix
