Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

build: node20系を使用するよう変更
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/09/26） (#725)
  content/blog/20230926.md
Due: textlint --fix

docs: 初めての自分で買うマクドナルドのハンバーガー
  content/blog/20230930.md
Due: textlint --fix

docs: 慣れることのないヒゲ脱毛の痛みの話
  content/blog/20231001.md
Due: textlint --fix

chore(deps): nuxtを3.7.4へ更新
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): nuxtを3.7.4へ更新 (#737)
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: osaka metro の今里筋線を乗り通す
  content/blog/20231002.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/27） (#727)
  content/blog/20230927.md
Due: textlint --fix

feat: ルビをふるためのコンポーネントを追加
  web/src/components/content/ArticleRuby.vue
Due: eslint --fix, prettier -w, stylelint --fix

feat: ルビをふるためのコンポーネントを追加 (#741)
  web/src/components/content/ArticleRuby.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: 元祖大阪梅田ミックスジュースを飲む
  content/blog/20231003.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/28） (#729)
  content/blog/20230928.md
Due: textlint --fix

docs: 四ツ橋から木津川まで長堀通を仕事帰りに散歩する
  content/blog/20231004.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/29） (#731)
  content/blog/20230929.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/30） (#735)
  content/blog/20230930.md
Due: textlint --fix

docs: 陽キャの象徴黒いマスクを買ってみた話
  content/blog/20231005.md
Due: textlint --fix

docs: coffee fun week 開幕を祝うスタバの新作チョコレートムースラテを飲む
  content/blog/20231006.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/01） (#736)
  content/blog/20231001.md
Due: textlint --fix

docs: 道頓堀を船から見られるとんぼりリバークルーズに乗ってきた
  content/blog/20231007.md
Due: textlint --fix

chore: 記事ページの著者情報からソーシャルアイコンを削除
  web/src/components/ArticleHeader.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: 記事ページの著者情報からソーシャルアイコンを削除 (#750)
  web/src/components/ArticleHeader.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事を追加（2023/10/02） (#738)
  content/blog/20231002.md
Due: textlint --fix

docs: nuxt content で markdown の文章にルビをつける
  content/blog/20231008.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/03） (#742)
  content/blog/20231003.md
Due: textlint --fix

docs: プライベートのメール管理術について書く
  content/blog/20231009.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/04） (#746)
  content/blog/20231004.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/05） (#747)
  content/blog/20231005.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/06） (#748)
  content/blog/20231006.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/07） (#749)
  content/blog/20231007.md
Due: textlint --fix

docs: 1ヶ月より先の東海道新幹線を予約できるようになったので予約してみる
  content/blog/20231010.md
Due: textlint --fix

chore: regen lockfile
  pnpm-lock.yaml
Due: prettier -w

docs: 和歌山観光きっぷで特急サザンに乗って和歌山へ行く
  content/blog/20231011.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/08） (#751)
  content/blog/20231008.md
Due: textlint --fix

docs: あったかい飲み物が欲しくなる季節になってきたなあという話
  content/blog/20231012.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/09） (#753)
  content/blog/20231009.md
Due: textlint --fix

docs: 初めて訪れた和歌山の街を散歩する
  content/blog/20231013.md
Due: textlint --fix

docs: ブログ記事を追加（2023/10/10） (#755)
  content/blog/20231010.md
Due: textlint --fix

docs: 紀州徳川家の居城和歌山城へ行ってきた
  content/blog/20231014.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/social-share/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#764)
  package.json
  packages/social-share/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w
