Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 浅草茶屋たばねのしの掛川抹茶ブリュレを食べる
  content/blog/2026/06/02.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/02.md
Due: textlint --fix

docs: 姫路駅から手柄山平和公園駅までを徒歩で行く
  content/blog/2026/06/05.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/05.md
Due: textlint --fix

fix: nuxt 4.4.6 が正しく動作しないため戻す
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

fix: nuxt 4.4.6 が正しく動作しないため戻す (#2288)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 手柄山平和公園にある水族館「姫路市立水族館」へ行ってきた
  content/blog/2026/06/08.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/27） (#2275)
  content/blog/2026/05/27.md
Due: textlint --fix

docs: ブログ記事を追加（2026/05/30） (#2277)
  content/blog/2026/05/30.md
Due: textlint --fix

build: pnpmを更新
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build: pnpmを更新 (#2294)
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2026/06/02） (#2283)
  content/blog/2026/06/02.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/05） (#2286)
  content/blog/2026/06/05.md
Due: textlint --fix

docs: 片道1,000キロ以上の長距離きっぷを買ってみた
  content/blog/2026/06/11.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/11.md
Due: textlint --fix

ci: textlintの設定を変更
  .textlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

ci: textlintの設定を変更 (#2306)
  .textlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

build(deps): 依存関係を更新
  mise.toml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, prettier -w

fix: package.jsonのpnpmバージョンを変更
  package.json
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#2307)
  mise.toml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: スタバのバナナアフォガートフラペチーノを飲む
  content/blog/2026/06/14.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/14.md
Due: textlint --fix

docs: 十三の新しいランドマークの誕生記念イベント「13 slow marche」を覗いてきた
  content/blog/2026/06/17.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/17.md
Due: textlint --fix

fix: og画像が生成されない問題を修正
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, prettier -w

fix: og画像が生成されない問題を修正 (#2310)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2026/06/08） (#2289)
  content/blog/2026/06/08.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/11） (#2305)
  content/blog/2026/06/11.md
Due: textlint --fix

docs: 角館の武家屋敷通りを巡る
  content/blog/2026/06/20.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/14） (#2308)
  content/blog/2026/06/14.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/17） (#2309)
  content/blog/2026/06/17.md
Due: textlint --fix

docs: 上山市にあるかみのやま温泉旅行記
  content/blog/2026/06/23.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/23.md
Due: textlint --fix

docs: 県都山形市のランドマーク「霞城セントラル」の展望ロビーから山形の街を見る
  content/blog/2026/06/26.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/26.md
Due: textlint --fix

docs: 山形市のシンボル「文翔館」へ行ってきた
  content/blog/2026/06/29.md
Due: textlint --fix

Apply suggestions from code review
  content/blog/2026/06/29.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/20） (#2314)
  content/blog/2026/06/20.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/23） (#2321)
  content/blog/2026/06/23.md
Due: textlint --fix

docs: ブログ記事を追加（2026/06/26） (#2324)
  content/blog/2026/06/26.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
