Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w

chore: 画像の表示を調整
  content/blog/20230703.md
  web/src/components/TheHeader.vue
  web/src/components/content/ProseImg.vue
  web/src/public/logo-dark.svg
  web/src/public/logo-light.svg
Due: prettier -w

build(deps): 依存関係を更新
  package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore: prettierrcの型を設定
  .prettierrc.js
  web/src/components/TheSeo.vue
  web/src/components/content/ContentList.vue
  web/src/server/routes/feed.ts
Due: eslint --fix, prettier --write, prettier -w

feat: twitterとfacebookで共有可能なシェアボタンコンポーネントを追加
  pnpm-lock.yaml
  web/package.json
  web/src/components/SocialShare.vue
  web/src/components/SocialShareButton.vue
  web/src/layouts/default.vue
  web/src/utils/socialShare.ts
Due: eslint --fix, prettier --write, prettier -w

feat: tsconfig設定のパッケージを追加
  README.md
  packages/README.md
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/node.json
  packages/tsconfig/package.json
  packages/tsconfig/web.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build: コンポーネントライブラリをビルドする設定などを追加
  README.md
  packages/README.md
  packages/social-share/.eslintignore
  packages/social-share/.eslintrc.js
  packages/social-share/.stylelintrc.js
  packages/social-share/README.md
  packages/social-share/package.json
  packages/social-share/src/components/index.ts
  packages/social-share/src/main.ts
  packages/social-share/src/vite-env.d.ts
  packages/social-share/tsconfig.build.json
  packages/social-share/tsconfig.json
  packages/social-share/tsconfig.node.json
  packages/social-share/tsconfig.web.json
  packages/social-share/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

fix: 型定義ファイルが読み込めない問題を修正
  packages/social-share/package.json
Due: prettier --write, prettier -w

feat: シェアボタンのコンポーネントをwebから独立したパッケージへ移動
  packages/social-share/src/components/SocialShare/SocialShare.vue
  packages/social-share/src/components/SocialShare/SocialShareButton.vue
  packages/social-share/src/components/SocialShare/index.ts
  packages/social-share/src/components/SocialShare/types.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
  packages/social-share/src/components/index.ts
  pnpm-lock.yaml
  web/package.json
  web/src/components/SocialShare.vue
  web/src/components/SocialShareButton.vue
  web/src/layouts/default.vue
  web/src/utils/socialShare.ts
Due: eslint --fix, prettier --write, prettier -w

fix: provideを1つに修正
  packages/social-share/src/components/SocialShare/SocialShare.vue
  packages/social-share/src/components/SocialShare/SocialShareButton.vue
  packages/social-share/src/components/SocialShare/utils/index.ts
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write, prettier -w

feat: インスタンスドメイン入力時に表示するパネルコンポーネントを追加
  packages/social-share/src/components/SocialShare/SocialShare.vue
  packages/social-share/src/components/SocialShare/SocialShareButton.vue
  packages/social-share/src/components/SocialShare/SocialSharePanel.vue
  packages/social-share/src/components/SocialShare/index.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
  web/src/components/content/ContentList.vue
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write, prettier -w

fix: twitterのエンドポイントを修正
  packages/social-share/src/components/SocialShare/utils/index.ts
Due: eslint --fix, prettier --write, prettier -w

feat: インスタンスドメイン指定部分を実装
  packages/social-share/src/components/SocialShare/SocialShare.vue
  packages/social-share/src/components/SocialShare/SocialShareInput.vue
  packages/social-share/src/components/SocialShare/SocialSharePanel.vue
  packages/social-share/src/components/SocialShare/SocialShareSubmit.vue
  packages/social-share/src/components/SocialShare/index.ts
  packages/social-share/src/components/SocialShare/utils/index.ts
  web/src/layouts/default.vue
Due: eslint --fix, prettier --write, prettier -w

docs: snsのシェアボタンを設置しました
  content/blog/20230707.md
Due: prettier -w

build: 依存関係インストール後にコンポーネントをビルドするよう変更
  packages/social-share/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

chore: lighthouseのスコアを改善
  web/src/components/content/ContentListItem.vue
  web/src/layouts/default.vue
Due: prettier -w

chore: モバイル表示時のヘッダーの余白を調整
  web/src/components/TheHeader.vue
Due: prettier -w

docs: デジタル庁の新しいウェブサイトがtailwindcssを使うときのお手本によさそう
  content/blog/20230708.md
Due: prettier -w

docs: ブログ記事を追加 (#441)
  content/blog/20230708.md
Due: prettier -w

docs: 2杯目のスターバックスラテが半額くらいになると聞いてスタバをはしごした話
  content/blog/20230709.md
Due: prettier -w

docs: discordサーバにブログの感想を書くチャンネルを追加しました
  content/blog/20230710.md
Due: prettier -w

docs: 使っているパソコンとか周辺機器とかを雑に紹介してみる
  content/blog/20230711.md
Due: prettier -w

build: trailing slash を有効化
  content/blog/20230704.md
  content/blog/20230706.md
  content/contact.md
  web/nuxt.config.ts
  web/src/components/TheFooter.vue
  web/src/components/TheSeo.vue
  web/src/components/content/ContentList.vue
  web/src/layouts/default.vue
  web/src/server/routes/feed.ts
Due: eslint --fix, prettier --write, prettier -w

docs: 長居公園の周辺をお散歩したりクレープを食べたりした話
  content/blog/20230712.md
Due: prettier -w

docs: 大阪シティバスでひとつだけ松原市にあるバス停に行ってきた
  content/blog/20230713.md
Due: prettier -w

docs: なんとなく真っ直ぐ帰りたくなくてコーヒー飲んで帰った話
  content/blog/20230714.md
Due: prettier -w

fix(deps): tailwindcssのprettierプラグインを更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

chore: prettierの対象からmarkdownを削除
  .lintstagedrc.json
  package.json
Due: prettier --write, prettier -w

ci: changesetsを導入
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

feat: パッケージ公開の対応
  .changeset/config.json
  .changeset/small-drinks-sparkle.md
  packages/social-share/README.md
  packages/social-share/package.json
  pnpm-lock.yaml
  web/package.json
  web/src/layouts/default.vue
Due: prettier --write, prettier -w

fix: リリース時に必要なパッケージを追加
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

ci: リリースワークフローの権限を変更
  .github/workflows/release.yaml
Due: prettier -w

fix: リリース時にgitの状態を確認しないよう変更
  .github/workflows/release.yaml
  package.json
Due: prettier --write, prettier -w

chore: 文章など調整
  .vscode/settings.json
  content/blog/20230712.md
  content/contact.md
Due: prettier --write, prettier -w

chore: feedのurlを調整
  content/blog/20230706.md
  web/nuxt.config.ts
  web/src/components/TheSeo.vue
  web/src/server/routes/feed.xml.ts
Due: eslint --fix, prettier --write, prettier -w

chore: パッケージの情報を更新
  .changeset/sharp-squids-own.md
  packages/social-share/README.md
  packages/social-share/package.json
Due: prettier --write, prettier -w

docs: snsページをシェアできるvueのコンポーネントを公開しました
  content/blog/20230715.md
Due: prettier -w

docs: ブログ記事を追加（2023/07/14） (#457)
  content/blog/20230714.md
Due: prettier -w

docs: changesetsでパッケージをリリースする
  content/blog/20230716.md
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md,html})) or (any of: *.vue)
