Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

docs: タイトルを変更
  content/blog/20230905.md
Due: textlint --fix

docs: 豆乳をよく飲むのでまとめ買いしている話
  content/blog/20230906.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/02） (#657)
  content/blog/20230902.md
Due: textlint --fix

chore(deps): update dependency @nuxt/content
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): update dependency @nuxt/content (#673)
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: nuxt content で rss フィードを配信する
  content/blog/20230907.md
Due: textlint --fix

build: デバッグ用の設定を追加
  .vscode/launch.json
Due: prettier --write, prettier -w

build: デバッグ用の設定を追加 (#676)
  .vscode/launch.json
Due: prettier --write, prettier -w

refactor: ウェブサイトに関する情報を一括管理するcomposableを追加
  web/src/components/ArticleFooter.vue
  web/src/components/TheFooter.vue
  web/src/components/TheHeader.vue
  web/src/components/TheSeo.vue
  web/src/components/content/ProseImg.vue
  web/src/components/content/TopProfile.vue
  web/src/composables/useWebsite.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

refactor: ウェブサイトに関する情報を一括管理するcomposableを追加 (#677)
  web/src/components/ArticleFooter.vue
  web/src/components/TheFooter.vue
  web/src/components/TheHeader.vue
  web/src/components/TheSeo.vue
  web/src/components/content/ProseImg.vue
  web/src/components/content/TopProfile.vue
  web/src/composables/useWebsite.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

refactor: 画像url生成処理を共通化
  web/src/components/content/ProseImg.vue
  web/src/components/content/TopProfile.vue
  web/src/composables/useImage.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

refactor: 画像url生成処理を共通化 (#678)
  web/src/components/content/ProseImg.vue
  web/src/components/content/TopProfile.vue
  web/src/composables/useImage.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

feat: og画像を設定
  web/src/components/TheSeo.vue
  web/src/public/ogp.jpg
Due: eslint --fix, prettier -w, stylelint --fix

feat: og画像を設定 (#679)
  web/src/components/TheSeo.vue
  web/src/public/ogp.jpg
Due: eslint --fix, prettier -w, stylelint --fix

docs: 何気なく買った無印良品の携帯用メガネ拭きが良かった
  content/blog/20230908.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/03） (#664)
  content/blog/20230903.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/04） (#668)
  content/blog/20230904.md
Due: textlint --fix

docs: 再開発が進む梅田の街を眺めながら福島まで歩く
  content/blog/20230909.md
Due: textlint --fix

fix: タグがscriptとstyleの場合に文字列を返さないよう修正
  web/src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

fix: タグがscriptとstyleの場合に文字列を返さないよう修正 (#688)
  web/src/server/utils/content.ts
Due: eslint --fix, prettier --write, prettier -w

chore: stylelintの設定パッケージを更新
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

chore: stylelintの設定パッケージを更新 (#689)
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 聖徳太子が建立された四天王寺に行ってきた
  content/blog/20230910.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/05） (#670)
  content/blog/20230905.md
Due: textlint --fix

docs: 業務スーパーで売ってるミルクファッジがうまい
  content/blog/20230911.md
Due: textlint --fix

chore: nuxtを更新
  package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore: nuxtを更新 (#698)
  package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: ブログ記事を追加（2023/09/06） (#671)
  content/blog/20230906.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/07） (#675)
  content/blog/20230907.md
Due: textlint --fix

docs: 旅先で買ったポストカードに切手を貼って送るの大人っぽくて良い
  content/blog/20230912.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/08） (#682)
  content/blog/20230908.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/09） (#687)
  content/blog/20230909.md
Due: textlint --fix

docs: わたしがブログを書く理由について
  content/blog/20230913.md
Due: textlint --fix

docs: chatgptが書いた日記のとおりに一日を過ごしてみた
  content/blog/20230914.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/10） (#690)
  content/blog/20230910.md
Due: textlint --fix

docs: ブログ記事を追加（2023/09/11） (#697)
  content/blog/20230911.md
Due: textlint --fix

docs: 君は super hexagon という六角形を回すゲームを知っているか
  content/blog/20230915.md
Due: textlint --fix

feat: ブログ記事のファイルを生成するcliツールを追加
  README.md
  package.json
  packages/README.md
  packages/mkarticle/.eslintignore
  packages/mkarticle/.eslintrc.cjs
  packages/mkarticle/README.md
  packages/mkarticle/bin/mkarticle.mjs
  packages/mkarticle/package.json
  packages/mkarticle/scripts/mkarticle.mjs
  packages/mkarticle/src/cli.ts
  packages/mkarticle/src/index.ts
  packages/mkarticle/src/mkarticle.ts
  packages/mkarticle/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

feat: ブログ記事のファイルを生成するcliツールを追加 (#707)
  README.md
  package.json
  packages/README.md
  packages/mkarticle/.eslintignore
  packages/mkarticle/.eslintrc.cjs
  packages/mkarticle/README.md
  packages/mkarticle/bin/mkarticle.mjs
  packages/mkarticle/package.json
  packages/mkarticle/scripts/mkarticle.mjs
  packages/mkarticle/src/cli.ts
  packages/mkarticle/src/index.ts
  packages/mkarticle/src/mkarticle.ts
  packages/mkarticle/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

chore: commonJSのファイルの拡張子をcjsへ変更
  .commitlintrc.cjs
  .eslintrc.cjs
  .prettierrc.cjs
  .stylelintrc.cjs
  .textlintrc.cjs
  packages/eslint-config-custom/index.cjs
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/.eslintrc.cjs
  packages/social-share/.stylelintrc.cjs
  packages/stylelint-config/.eslintrc.cjs
  packages/stylelint-config/index.cjs
  packages/stylelint-config/package.json
  packages/tailwind-config/.eslintrc.cjs
  packages/tailwind-config/tailwind.config.cjs
  packages/textlint-rule-front-matter/.eslintrc.cjs
  packages/textlint-rule-preset-custom/.eslintrc.cjs
  packages/textlint-rule-preset-custom/index.cjs
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/.eslintrc.cjs
  web/.eslintrc.cjs
  web/.stylelintrc.cjs
  web/tailwind.config.cjs
Due: eslint --fix, prettier --write, prettier -w
