Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: 北陸新幹線敦賀延伸開業時に運行を開始したハピラインふくい線を乗り通す
  content/blog/2024/07/29.md
Due: textlint --fix

docs: 敦賀ヨーロッパ軒の名物カツ丼を食べる
  content/blog/2024/08/03.md
Due: textlint --fix

docs: 千鳥屋宗家の感謝カードがゴールドになった話
  content/blog/2024/07/30.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/08） (#1227)
  content/blog/2024/07/08.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/09） (#1228)
  content/blog/2024/07/09.md
Due: textlint --fix

docs: 敦賀駅から敦賀港まで敦賀の街を歩く
  content/blog/2024/07/31.md
Due: textlint --fix

docs: 港町敦賀のシンボルである敦賀赤レンガ倉庫へ行ってきた
  content/blog/2024/08/02.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/10） (#1229)
  content/blog/2024/07/10.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/11） (#1234)
  content/blog/2024/07/11.md
Due: textlint --fix

docs: スタバのラブ＆ピーチフラペチーノを飲む
  content/blog/2024/07/25.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/12） (#1235)
  content/blog/2024/07/12.md
Due: textlint --fix

docs: レトロな雰囲気を感じる明治の小さいペットボトル入りの飲料を飲む
  content/blog/2024/08/06.md
Due: textlint --fix

build(deps): 依存関係を更新
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

build(deps): 依存関係を更新 (#1255)
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

docs: ブログ記事を追加（2024/07/13） (#1236)
  content/blog/2024/07/13.md
Due: textlint --fix

fix: ページが生成されないためcontentモジュールのバージョンを変更
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

fix: ページが生成されないためcontentモジュールのバージョンを変更 (#1257)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 梅田から淀川を渡って塚本までを歩く
  content/blog/2024/08/05.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/14） (#1237)
  content/blog/2024/07/14.md
Due: textlint --fix

docs: 昔のおもちゃを体験できる奈良町からくりおもちゃ館へ行ってきた
  content/blog/2024/08/07.md
Due: textlint --fix

docs: なら工藝館へ奈良の伝統工芸品を見に行ってきた
  content/blog/2024/08/09.md
Due: textlint --fix

docs: jr奈良駅から京終駅までを散歩する
  content/blog/2024/08/10.md
Due: textlint --fix

docs: 石切新名物の丸い鯛焼きを食べる
  content/blog/2024/08/11.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/15） (#1238)
  content/about/index.md
  content/blog/2024/07/15.md
  content/blog/index.yaml
  content/index.yaml
  server/routes/feed.xml.ts
  src/app.config.ts
  src/composables/useWebsite.ts
Due: eslint --fix, prettier --write, prettier -w, textlint --fix

docs: ブログ記事を追加（2024/07/16） (#1239)
  content/blog/2024/07/16.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/17） (#1240)
  content/blog/2024/07/17.md
Due: textlint --fix

docs: ノベルゲーム『終のステラ』をプレイした感想
  content/blog/2024/07/21.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/18） (#1249)
  content/blog/2024/07/18.md
Due: textlint --fix

ci: actions/setup-nodeを更新
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
Due: prettier -w

ci: actions/setup-nodeを更新 (#1274)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
Due: prettier -w

docs: ブログ記事を追加（2024/07/19） (#1250)
  content/blog/2024/07/19.md
Due: textlint --fix

docs: エアコンが故障したから暑さ対策の商品を買う
  content/blog/2024/08/04.md
Due: textlint --fix

docs: ブログ記事を追加（2024/07/20） (#1251)
  content/blog/2024/07/20.md
Due: textlint --fix

docs: jr西日本の駅ナカにあるセブンイレブンで販売されている「岡山育ちの白桃アイスバー」を食べる
  content/blog/2024/08/13.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1279)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 暑い夏をイオンモール大阪ドームシティで過ごす
  content/blog/2024/08/14.md
Due: textlint --fix

chore(deps): update dependency @nuxtjs/seo to v2.0.0-rc.16
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

chore(deps): update dependency @nuxtjs/seo to v2.0.0-rc.16 (#1280)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: osaka metro のニュートラムを乗り通す
  content/blog/2024/08/16.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue})
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}) or (any of: *.{json,yml,yaml,html,css,scss})
  textlint --fix: any of: *.md
