Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["eslint --fix", "prettier -w"],
  "*.{css,scss}": ["stylelint --fix", "prettier -w"],
  "*.{json,yml,yaml,html}": ["prettier -w"],
  "*.md": ["textlint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier -w"]
}

docs: ブログ記事を追加（2024/02/13） (#976)
  content/blog/20240213.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/14） (#981)
  content/blog/20240214.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/15） (#989)
  content/blog/20240215.md
Due: textlint --fix

docs: 淀川に架かる歩いて渡れる橋の中で最も河口に近い伝法大橋を歩く
  content/blog/20240227.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/16） (#990)
  content/blog/20240216.md
Due: textlint --fix

docs: トマトやゴルゴンゾーラの入った辛さ控えめのカカオカレーを食べる
  content/blog/20240228.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/17） (#991)
  content/blog/20240217.md
Due: textlint --fix

docs: 1日で新幹線と飛行機に乗って大移動した話
  content/blog/20240222.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/18） (#992)
  content/blog/20240218.md
Due: textlint --fix

docs: スタバの花見だんごフラペチーノを飲む
  content/blog/20240301.md
Due: textlint --fix

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

build(deps): 依存関係を更新 (#1010)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier -w

docs: 大阪市内で一年を通して植物を楽しめる長居植物園へ行ってきた
  content/blog/20240302.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/19） (#993)
  content/blog/20240219.md
Due: textlint --fix

docs: 雛祭りの日なので関西のひなあられを食べる
  content/blog/20240303.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/20） (#994)
  content/blog/20240220.md
Due: textlint --fix

build: documentDrivenモードを辞めて新しいディレクトリ構造に対応
  content/blog/index.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/components/ArticleFooter.vue
  src/components/ArticleHeader.vue
  src/components/ArticleList.vue
  src/components/ArticleListItem.vue
  src/components/DocumentDrivenNotFound.vue
  src/components/TheSeo.vue
  src/error.vue
  src/layouts/default.vue
  src/pages/[...slug].vue
  src/pages/blog/[slug].vue
  src/pages/blog/index.vue
  src/pages/index.vue
  src/server/routes/feed.xml.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

fix: 404エラーページがデプロイ後に表示されない問題を修正
  nuxt.config.ts
  src/pages/[...slug].vue
  src/pages/blog/[slug].vue
  src/pages/blog/index.vue
  src/pages/index.vue
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

docs: ディレクトリを移動
  content/blog/2024/02/21.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/22.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/23.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/24.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/25.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/26.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/27.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/02/28.md
Due: textlint --fix

ci: 404でエラー時にビルド自体を止めてしまわないように変更
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

ci: 404でエラー時にビルド自体を止めてしまわないように変更 (#1014)
  nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

chore: リンクのコンポーネントをsitelinkからnuxtlinkに変更
  src/components/TheFooter.vue
  src/components/TheHeader.vue
Due: eslint --fix, prettier -w, stylelint --fix

chore: リンクのコンポーネントをsitelinkからnuxtlinkに変更 (#1015)
  src/components/TheFooter.vue
  src/components/TheHeader.vue
Due: eslint --fix, prettier -w, stylelint --fix

docs: ブログ記事のファイルが増えすぎたのでディレクトリ構造を変更した話
  content/blog/2024/03/04.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/21） (#996)
  content/blog/2024/02/21.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/22） (#1003)
  content/blog/2024/02/22.md
Due: textlint --fix

docs: ブログ記事を追加（2024/02/23） (#1004)
  content/blog/2024/02/23.md
Due: textlint --fix

docs: 20年以上前の小さかった頃に住んでいた街を歩く
  content/blog/2024/03/05.md
Due: textlint --fix

docs: 部屋の掃除を習慣にしているし部屋の掃除を習慣にしたい
  content/blog/2024/02/29.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/03/01.md
Due: textlint --fix

docs: ディレクトリを移動
  content/blog/2024/03/02.md
Due: textlint --fix
