Repository Hiratake/hiratake-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w, stylelint --fix, textlint --fix

docs: 夜の大阪ビジネスパークを歩いてきた
  content/blog/20231119.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/12） (#810)
  content/blog/20231112.md
Due: textlint --fix

docs: 初めてのサーティワンアイスクリームのポッピングシャワー
  content/blog/20231120.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/13） (#812)
  content/blog/20231113.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/14） (#813)
  content/blog/20231114.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/15） (#815)
  content/blog/20231115.md
Due: textlint --fix

docs: cities skylines で10万人都市を目指す part6
  content/blog/20231105.md
  content/blog/20231113.md
  content/blog/20231121.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/16） (#816)
  content/blog/20231116.md
Due: textlint --fix

docs: rrdddのトリックショットまとめ
  content/blog/20231122.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/17） (#817)
  content/blog/20231117.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/18） (#819)
  content/blog/20231118.md
Due: textlint --fix

docs: 冬なので最近飲んでいる紅茶について書く
  content/blog/20231123.md
Due: textlint --fix

docs: 千島と北津守を結ぶ渡船に乗ってきた
  content/blog/20231124.md
Due: textlint --fix

docs: 大阪市内にある都会の秘境駅南海電鉄木津川駅へ行ってきた
  content/blog/20231125.md
Due: textlint --fix

build: nuxtseoモジュールをv2へ更新
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/app.vue
  web/src/components/ArticleFooter.vue
  web/src/components/DocumentDrivenNotFound.vue
  web/src/components/TheFooter.vue
  web/src/components/TheHeader.vue
  web/src/components/TheSeo.vue
  web/src/components/content/ArticleListItem.vue
  web/src/composables/useWebsite.ts
  web/src/server/routes/feed.xml.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

build: nuxtseoモジュールをv2へ更新 (#833)
  package.json
  packages/eslint-config-custom/package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/nuxt.config.ts
  web/package.json
  web/src/app.vue
  web/src/components/ArticleFooter.vue
  web/src/components/DocumentDrivenNotFound.vue
  web/src/components/TheFooter.vue
  web/src/components/TheHeader.vue
  web/src/components/TheSeo.vue
  web/src/components/content/ArticleListItem.vue
  web/src/composables/useWebsite.ts
  web/src/server/routes/feed.xml.ts
Due: eslint --fix, prettier --write, prettier -w, stylelint --fix

docs: jao community server のウェブサイトを新しくした話
  content/blog/20231126.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/19） (#822)
  content/blog/20231119.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/20） (#823)
  content/blog/20231120.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/21） (#826)
  content/blog/20231105.md
  content/blog/20231113.md
  content/blog/20231121.md
Due: textlint --fix

fix: 出力されるドメイン名が異なる問題を修正
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

fix: 出力されるドメイン名が異なる問題を修正 (#836)
  web/nuxt.config.ts
Due: eslint --fix, prettier --write, prettier -w

docs: スタバの大阪府出店 25 周年記念の限定フラペチーノを飲む
  content/blog/20231127.md
Due: textlint --fix

build: jsファイルをesモジュールとして扱うよう変更
  packages/social-share/package.json
Due: prettier --write, prettier -w

build: jsファイルをesモジュールとして扱うよう変更 (#838)
  packages/social-share/package.json
Due: prettier --write, prettier -w

docs: 仕事帰りに梅田から淀川を渡って西中島まで歩く
  content/blog/20231128.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/22） (#828)
  content/blog/20231122.md
Due: textlint --fix

docs: cities skylines で10万人都市を目指す part7
  content/blog/20231121.md
  content/blog/20231129.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/23） (#830)
  content/blog/20231123.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/24） (#831)
  content/blog/20231124.md
Due: textlint --fix

docs: 冬なのでインフルエンザの予防接種に行ってきた
  content/blog/20231130.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/25） (#832)
  content/blog/20231125.md
Due: textlint --fix

docs: nuxt-seo-kit から @nuxtseo/module へ移行する
  content/blog/20231201.md
Due: textlint --fix

docs: ヨーグルトメーカーを使ってクリームチーズを自作してみた
  content/blog/20231202.md
Due: textlint --fix

chore(deps): 依存関係を更新
  package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

chore(deps): 依存関係を更新 (#845)
  package.json
  packages/mkarticle/package.json
  packages/social-share/package.json
  packages/stylelint-config/package.json
  packages/textlint-rule-front-matter/package.json
  packages/textlint-rule-preset-custom/package.json
  packages/textlint-rule-space-around-bold/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write, prettier -w

docs: 深里橋から日吉橋まで道頓堀川沿いを散歩する
  content/blog/20231203.md
Due: textlint --fix

docs: ブログ記事を追加（2023/11/26） (#834)
  content/blog/20231126.md
Due: textlint --fix

docs: osaka metro の長堀鶴見緑地線を乗り通す
  content/blog/20231204.md
Due: textlint --fix

docs: readmeを更新
  README.md
Due: textlint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.vue))
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  prettier -w: (((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,html})) or (any of: *.vue)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
  textlint --fix: any of: *.md
