Repository Hiratake/hiratake-web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, textlint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,vue}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    textlint:
      glob: '*.{md,mdx}'
      run: pnpm textlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{html,css,scss,js,ts,jsx,tsx,cjs,cts,mjs,mts,vue,json,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: リポジトリの情報を設定
  package.json
Due: prettier

ci: linterとformatterを導入
  .commitlintrc.cjs
  .editorconfig
  .gitignore
  .prettierignore
  .prettierrc.cjs
  .textlintrc.cjs
  app/app.config.ts
  app/app.vue
  app/assets/css/main.css
  app/components/TemplateMenu.vue
  app/pages/index.vue
  eslint.config.mjs
  lefthook.yaml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: eslint, prettier

docs: ドキュメントを更新
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  LICENSE.md
  README.md
Due: textlint

ci: githubのワークフローを設定
  .github/CODEOWNERS
  .github/dependabot.yaml
  .github/renovate.json
  .github/workflows/autofix.yaml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yaml
  .github/workflows/semantic-pr.yaml
  renovate.json
Due: prettier

chore: デフォルトのコンテンツを削除
  app/app.vue
  app/components/AppLogo.vue
  app/components/TemplateMenu.vue
  app/pages/index.vue
  public/favicon.ico
Due: eslint, prettier

build: 使用するnuxtモジュールを導入
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

build: 各nuxtモジュールの設定を追加
  .vscode/settings.json
  README.md
  mise.local.toml.example
  nuxt.config.ts
Due: eslint, textlint, prettier

chore: uiの設定を追加
  app/app.config.ts
  app/assets/css/main.css
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: ヘッダーを追加
  app/app.config.ts
  app/app.vue
  app/components/TheHeader.vue
Due: eslint, prettier

feat: フッターを追加
  app/app.vue
  app/components/TheFooter.vue
Due: eslint, prettier

chore: デフォルトのseo設定を追加
  app/app.vue
  app/components/TheSeo.vue
Due: eslint, prettier

feat: トップページを追加
  app/app.config.ts
  app/components/Blog/PostList.vue
  app/components/Home/Diary.vue
  app/components/Home/Hero.vue
  app/components/Home/Profile.vue
  app/composables/useDatetimeFormat.ts
  app/composables/useTrailingSlash.ts
  app/pages/index.vue
  app/utils/url.ts
  content.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: 日記一覧ページを追加
  app/components/PageHeader.vue
  app/pages/blog/[[slug]]/[[page]].vue
Due: eslint, prettier

feat: エラーページを追加
  app/components/PageHeader.vue
  app/error.vue
Due: eslint, prettier

feat: 個別ページの処理を追加
  app/components/DocumentEmpty.vue
  app/components/DocumentRenderer.vue
  app/components/content/AboutSkills.vue
  app/components/content/AboutSocials.vue
  app/components/content/ArticleRuby.vue
  app/components/content/ProseA.vue
  app/components/content/ProseCode.vue
  app/components/content/ProseH2.vue
  app/components/content/ProseH3.vue
  app/components/content/ProseH4.vue
  app/components/content/ProseImg.vue
  app/components/content/ProseLi.vue
  app/components/content/ProseOl.vue
  app/components/content/ProseP.vue
  app/components/content/ProseUl.vue
  app/pages/[...slug].vue
  nuxt.config.ts
Due: eslint, prettier

feat: 日記ページを追加
  app/components/PageFooter.vue
  app/pages/blog/[slug].vue
Due: eslint, prettier

feat: og画像生成処理を追加
  app/components/OgImage/DiaryPost.takumi.vue
  app/pages/blog/[slug].vue
Due: eslint, prettier

build: feedの生成処理を追加
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/routes/feed.xml.ts
  server/tsconfig.json
  server/utils/content.ts
Due: eslint, prettier

chore: 権限が変更されていたのを戻す
  .editorconfig
Due: none

fix: サーバルート用のqueryCollectionを使用するよう修正
  server/routes/feed.xml.ts
Due: eslint, prettier

build: ogImageのzeroRuntimeを有効化してみる
  nuxt.config.ts
Due: eslint, prettier

build: og画像生成のタイムアウト時間を2倍に変更
  nuxt.config.ts
Due: eslint, prettier

build: sitemapのzeroRuntimeを有効化
  nuxt.config.ts
Due: eslint, prettier

ci: cloudflare側でチェックするためgenerateとbuildのワークフローを削除
  .github/workflows/ci.yml
Due: prettier

fix: 投稿下部のdiscordへのリンクが設定されていない問題を修正
  app/components/PageFooter.vue
  app/components/TheHeader.vue
Due: eslint, prettier

feat: proseコンポーネントをuiモジュールで制御するよう変更
  app/app.config.ts
  app/assets/css/main.css
  app/components/DocumentRenderer.vue
  app/components/content/ProseA.vue
  app/components/content/ProseCode.vue
  app/components/content/ProseH2.vue
  app/components/content/ProseH3.vue
  app/components/content/ProseH4.vue
  app/components/content/ProseImg.vue
  app/components/content/ProseLi.vue
  app/components/content/ProseOl.vue
  app/components/content/ProseP.vue
  app/components/content/ProsePre.vue
  app/components/content/ProseUl.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: gtmの設定を追加
  nuxt.config.ts
Due: eslint, prettier

chore: 表示がおかしいのでtext-prettyを使用しないよう変更
  app/app.config.ts
  app/components/PageHeader.vue
Due: eslint, prettier

ci: 脆弱性のチェックをhigh以上に設定
  .github/workflows/dependency-review.yaml
  pnpm-lock.yaml
Due: prettier

chore: 滅多に触らないファイルをvscode上で非表示に変更
  .gitignore
  .vscode/settings.json
  commitlint.config.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.ts
Due: eslint, prettier

ci: renovateにminimumReleaseAgeの設定を追加
  .github/renovate.json
Due: prettier

ci: renovateにminimumReleaseAgeの設定を追加 (#2370)
  .github/renovate.json
Due: prettier

ci: ワークフローのファイル拡張子を調整
  .github/workflows/ci.yaml
Due: prettier

ci: ワークフローのファイル拡張子を調整 (#2372)
  .github/workflows/ci.yaml
Due: prettier

fix: darkモード時のボタンの文字色を修正
  app/components/PageFooter.vue
Due: eslint, prettier

fix: darkモード時のボタンの文字色を修正 (#2373)
  app/components/PageFooter.vue
Due: eslint, prettier

refactor: mainコンポーネントのui設定を共通にする
  app/app.config.ts
  app/app.vue
  app/error.vue
Due: eslint, prettier

refactor: mainコンポーネントのui設定を共通にする (#2374)
  app/app.config.ts
  app/app.vue
  app/error.vue
Due: eslint, prettier
