Repository Hiratake/hiratake-web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, textlint, prettier

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

textlint:
  run: pnpm textlint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier -w {staged_files}
  stage_fixed: true

docs: 人生初の夜行バス乗車をしてみた
  content/blog/2026/07/02.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/02.md
Due: textlint

chore: ja-no-space-around-slashのルールを無効化
  .textlintrc.cjs
Due: eslint, prettier

Revert "[autofix.ci] apply automated fixes"
  content/blog/2023/07/11.md
  content/blog/2025/07/15.md
  content/blog/2026/02/19.md
  content/blog/2026/06/11.md
Due: textlint

docs: 愛媛のご当地グルメ「宇和島鯛めし」を食べる
  content/blog/2026/07/08.md
Due: textlint

docs: 松山市の中心にある商店街「銀天街」と「大街道」を歩く
  content/blog/2026/07/11.md
Due: textlint

docs: ブログ記事を追加（2026/06/29） (#2326)
  content/blog/2026/06/29.md
Due: textlint

docs: ゴンチャのピーチフルピーチジェラッティーを飲む
  content/blog/2026/07/05.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/05.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/08.md
Due: textlint

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier

build(deps): 依存関係を更新 (#2346)
  package.json
  pnpm-lock.yaml
Due: prettier

docs: ブログ記事を追加（2026/07/02） (#2336)
  content/blog/2026/07/02.md
Due: textlint

docs: ブログ記事を追加（2026/07/05） (#2342)
  content/blog/2026/07/05.md
Due: textlint

build(deps): 依存関係を更新
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier

build(deps): 依存関係を更新 (#2352)
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier

docs: ブログ記事を追加（2026/07/08） (#2343)
  content/blog/2026/07/08.md
Due: textlint

docs: jr松山駅から伊予鉄道松山市駅までを徒歩で行く
  content/blog/2026/07/14.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/14.md
Due: textlint

docs: 現存12天守のひとつ松山城へ行ってきた
  content/blog/2026/07/17.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/17.md
Due: textlint

docs: ブログ記事を追加（2026/07/11） (#2344)
  content/blog/2026/07/11.md
Due: textlint

docs: 大阪土産の定番りくろーおじさんのチーズケーキを食べる
  content/blog/2026/08/07.md
Due: textlint

docs: いよてつ髙島屋の上にある大観覧車「くるりん」に乗って松山の街を見る
  content/blog/2026/07/23.md
Due: textlint

docs: 国連unhcr協会へ寄付を始めた話
  content/blog/2026/07/29.md
Due: textlint

docs: ブログ記事を追加（2026/07/14） (#2355)
  content/blog/2026/07/14.md
Due: textlint

docs: ブログ記事を追加（2026/07/17） (#2357)
  content/blog/2026/07/17.md
Due: textlint

docs: 日本三古湯のひとつ道後温泉旅行記
  content/blog/2026/07/20.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/20.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/23.md
Due: textlint

docs: 夏の酷暑日に備えて日傘を買った
  content/blog/2026/07/26.md
Due: textlint

Apply suggestions from code review
  content/blog/2026/07/29.md
Due: textlint

docs: 兵庫県立兵庫津ミュージアムへ行ってきた
  content/blog/2026/08/10.md
Due: textlint

docs: ブログ記事を追加（2026/07/20） (#2364)
  content/blog/2026/07/20.md
Due: textlint

docs: 神戸市営地下鉄の中央市場前駅からハーバーランド駅までを歩く
  content/blog/2026/08/13.md
Due: textlint

docs: ブログ記事を追加（2026/07/23） (#2365)
  content/blog/2026/07/23.md
Due: textlint

build: 使用するnodeとpnpmのバージョンを固定
  mise.toml
  package.json
Due: prettier

chore: vscodeの設定を追加
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: prettier

build: パッケージのバージョンを固定
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,cts,mjs,mts,vue}
  textlint: any of: *.{md,mdx}
  prettier: any of: *.{html,css,scss,js,ts,jsx,tsx,cjs,cts,mjs,mts,vue,json,yml,yaml}
