Repository Hiratake/hiratake-web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, textlint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,vue}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    textlint:
      glob: '*.{md,mdx}'
      run: pnpm textlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{html,css,scss,js,ts,jsx,tsx,cjs,cts,mjs,mts,vue,json,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: ブログ記事を追加（2026/09/30） (#2420)
  content/blog/2026/09/30.md
Due: textlint

docs: 1300年の歴史がある武雄温泉旅行記
  content/blog/2026/10/27.md
Due: textlint

docs: ブログ記事を追加（2026/10/03） (#2422)
  content/blog/2026/10/03.md
Due: textlint

docs: 佐賀市のご当地グルメ「シシリアンライス」を食べる
  content/blog/2026/11/02.md
Due: textlint

docs: バルーンの街にある佐賀バルーンミュージアムへ行ってきた
  content/blog/2026/11/05.md
Due: textlint

ci: renovateのlockFileMaintenanceでリリース日のチェックをしないよう変更
  .github/renovate.json
Due: prettier

ci: renovateのlockFileMaintenanceでリリース日のチェックをしないよう変更 (#2437)
  .github/renovate.json
Due: prettier

docs: jr博多シティの屋上にある「つばめの杜ひろば」から福岡の夜景を見る
  content/blog/2026/11/08.md
Due: textlint

docs: ブログ記事を追加（2026/10/06） (#2423)
  content/blog/2026/10/06.md
Due: textlint

chore: コードブロックの設定を変更
  app/app.config.ts
  app/app.vue
  nuxt.config.ts
Due: eslint, prettier

chore: コードブロックの設定を変更 (#2439)
  app/app.config.ts
  app/app.vue
  nuxt.config.ts
Due: eslint, prettier

docs: ブログ記事を追加（2026/10/09） (#2424)
  content/blog/2026/10/09.md
Due: textlint
