Repository Hiratake/hiratake-web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, textlint, prettier

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

textlint:
  run: pnpm textlint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier -w {staged_files}
  stage_fixed: true

docs: 無印良品の手づくりカレーキットでバターチキンカレーをつくる
  content/blog/2025/03/09.md
Due: textlint

build(deps): contentモジュールを更新
  package.json
  pnpm-lock.yaml
Due: prettier

chore: インラインコードのコンポーネント名を変更
  src/components/content/ProseCode.vue
Due: eslint, prettier

fix: 見出しにリンクを付与するかどうかの処理を修正
  src/components/content/ProseH2.vue
  src/components/content/ProseH3.vue
Due: eslint, prettier

fix: 投稿数カウントの処理を修正
  src/pages/blog/[[slug]]/[[page]].vue
Due: eslint, prettier

chore: typecheckのエラーを除外
  server/routes/feed.xml.ts
  server/utils/content.ts
Due: eslint, prettier

docs: ブログ記事を追加（2025/02/13） (#1563)
  content/blog/2025/02/13.md
Due: textlint

docs: ブログ記事を追加（2025/02/14） (#1564)
  content/blog/2025/02/14.md
Due: textlint

feat: minimalTreeからrssの本文を生成するよう変更
  server/routes/feed.xml.ts
  server/utils/content.ts
Due: eslint, prettier

docs: gariguetteのミルプレッセを食べる
  content/blog/2025/03/10.md
Due: textlint

docs: ブログ記事を追加（2025/02/15） (#1565)
  content/blog/2025/02/15.md
Due: textlint

fix: @nuxt/content v3 への更新 (#1542)
  content.config.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/routes/feed.xml.ts
  server/utils/content.ts
  src/components/PageFooter.vue
  src/components/PageHeader.vue
  src/components/blog/PostList.vue
  src/components/content/ProseCode.vue
  src/components/content/ProseH2.vue
  src/components/content/ProseH3.vue
  src/pages/[...slug].vue
  src/pages/blog/[[slug]]/[[page]].vue
  src/pages/blog/[slug].vue
  src/pages/index.vue
  src/types/index.ts
Due: eslint, prettier

build(deps): 依存関係を更新
  package.json
  pnpm-lock.yaml
Due: prettier

build(deps): 依存関係を更新 (#1585)
  package.json
  pnpm-lock.yaml
Due: prettier

fix: 存在しないブログページで404にならない問題を修正
  src/pages/[...slug].vue
Due: eslint, prettier

fix: サイトマップから元のmdのパスのページを除外
  nuxt.config.ts
Due: eslint, prettier

fix: 存在しないブログページで404にならない問題を修正 (#1587)
  nuxt.config.ts
  src/pages/[...slug].vue
Due: eslint, prettier

docs: ブログ記事を追加（2025/02/16） (#1566)
  content/blog/2025/02/16.md
Due: textlint

docs: ブログ記事を追加（2025/02/17） (#1567)
  content/blog/2025/02/17.md
Due: textlint

docs: スタバの白桃と桜わらびもちフラペチーノを飲む
  content/blog/2025/02/28.md
Due: textlint

docs: 山陽新幹線全線開業50周年記念「westerポイント超特典きっぷ」でお得なひとり旅をしてきた
  content/blog/2025/03/07.md
Due: textlint

docs: ブログ記事を追加（2025/02/18） (#1568)
  content/blog/2025/02/18.md
Due: textlint

docs: 下関市と北九州市を結ぶ関門トンネルを歩いて本州から九州へと渡る
  content/blog/2025/03/12.md
Due: textlint

docs: 海峡の街を駆ける門司港レトロ観光列車「潮風号」に乗ってきた
  content/blog/2025/03/13.md
Due: textlint

docs: ブログ記事を追加（2025/02/19） (#1569)
  content/blog/2025/02/19.md
Due: textlint

docs: 門司港周辺の名物料理だという焼きカレーを食べに行ってきた
  content/blog/2025/03/14.md
Due: textlint

docs: ブログ記事を追加（2025/02/20） (#1570)
  content/blog/2025/02/20.md
Due: textlint

docs: 関門連絡船で関門海峡を船で渡る
  content/blog/2025/03/15.md
Due: textlint

docs: ブログ記事を追加（2025/02/21） (#1571)
  content/blog/2025/02/21.md
Due: textlint

docs: 唐戸ターミナルから下関駅までを徒歩で行く
  content/blog/2025/03/16.md
Due: textlint

fix: ヘッダーコンポーネントに渡される日付の型が誤っていることがある問題を修正
  src/components/PageHeader.vue
Due: eslint, prettier

fix: ヘッダーコンポーネントに渡される日付の型が誤っていることがある問題を修正 (#1601)
  src/components/PageHeader.vue
Due: eslint, prettier

docs: 巌流本舗の招きふくを食べる
  content/blog/2025/03/17.md
Due: textlint

build(deps): 依存関係を更新 (#1602)
  package.json
  pnpm-lock.yaml
Due: prettier

docs: ブログ記事を追加（2025/02/22） (#1572)
  content/blog/2025/02/22.md
Due: textlint

docs: デジタル版が販売終了していたので追記
  content/blog/2024/09/01.md
Due: textlint

docs: デジタル版が販売終了していたので追記 (#1603)
  content/blog/2024/09/01.md
Due: textlint

docs: 連絡先からmastodonを削除
  content/about/index.md
Due: textlint

docs: 連絡先からmastodonを削除 (#1604)
  content/about/index.md
Due: textlint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,cts,mjs,mts,vue}
  textlint: any of: *.{md,mdx}
  prettier: any of: *.{html,css,scss,js,ts,jsx,tsx,cjs,cts,mjs,mts,vue,json,yml,yaml}
