Repository Hiratake/hiratake-web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, textlint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,vue}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    textlint:
      glob: '*.{md,mdx}'
      run: pnpm textlint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{html,css,scss,js,ts,jsx,tsx,cjs,cts,mjs,mts,vue,json,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: 青島の近くにある宮交ボタニックガーデン青島を歩く
  content/blog/2025/02/18.md
Due: textlint

docs: 宮崎観光で食べたり飲んだりグルメを楽しんできた
  content/blog/2025/02/19.md
Due: textlint

docs: ブログ記事を追加（2025/01/31） (#1547)
  content/blog/2025/01/31.md
Due: textlint

docs: 日豊本線を走る特急きりしまで宮崎から鹿児島中央までを乗り通す
  content/blog/2025/02/20.md
Due: textlint

docs: ブログ記事を追加（2025/02/01） (#1548)
  content/blog/2025/02/01.md
Due: textlint

docs: 幕末の薩摩を維新ふるさと館で学ぶ
  content/blog/2025/02/21.md
Due: textlint

docs: かごしま近代文学館とかごしまメルヘン館へ行ってきた
  content/blog/2025/02/22.md
Due: textlint

docs: 鹿児島で宿泊したアパートメントホテル「CoCo Park」が良かった話
  content/blog/2025/02/23.md
Due: textlint

docs: ブログ記事を追加（2025/02/02） (#1549)
  content/blog/2025/02/02.md
Due: textlint

docs: 趣味でやってる日記ブログで月間pv数3000を達成した
  content/blog/2025/02/13.md
Due: textlint

docs: 人生初の朝マックに挑戦してきた
  content/blog/2025/03/01.md
Due: textlint

docs: 京都の和菓子屋鼓月の千寿せんべいを食べる
  content/blog/2025/03/02.md
Due: textlint

docs: ブログ記事を追加（2025/02/03） (#1550)
  content/blog/2025/02/03.md
Due: textlint

chore: v4.2.0へ変更
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
Due: prettier

docs: ブログ記事を追加（2025/02/04） (#1551)
  content/blog/2025/02/04.md
Due: textlint

build: pnpm.onlyBuiltDependenciesにlefthookを追加
  package.json
Due: prettier

chore: lockファイルを再生成
  pnpm-lock.yaml
Due: prettier

docs: ブログ記事を追加（2025/02/05） (#1552)
  content/blog/2025/02/05.md
Due: textlint

docs: いつの間にかセブンのカフェラテスムージーの販売地域が全国になっていたから買いに行く
  content/blog/2025/03/04.md
Due: textlint

docs: 現在も活発な活動を続けている火山である鹿児島のシンボル桜島へ行ってきた
  content/blog/2025/02/24.md
Due: textlint

docs: ブログ記事を追加（2025/02/06） (#1553)
  content/blog/2025/02/06.md
Due: textlint

docs: 桜島フェリーターミナルからJR鹿児島駅までを徒歩で行く
  content/blog/2025/02/25.md
Due: textlint

docs: アミュプラザ鹿児島の上にある観覧車「アミュラン」に乗って鹿児島の街を見る
  content/blog/2025/02/26.md
Due: textlint

docs: ブログ記事を追加（2025/02/07） (#1554)
  content/blog/2025/02/07.md
Due: textlint

docs: ブログ記事を追加（2025/02/08） (#1555)
  content/blog/2025/02/08.md
Due: textlint

docs: 山陽・九州新幹線のみずほ号で鹿児島中央から新大阪までを乗り通す
  content/blog/2025/02/27.md
Due: textlint

docs: ブログ記事を追加（2025/02/09） (#1556)
  content/blog/2025/02/09.md
Due: textlint

docs: 世界遺産にも登録されている五重塔が有名な東寺へ行ってきた
  content/blog/2025/03/03.md
Due: textlint

docs: ブログ記事を追加（2025/02/10） (#1557)
  content/blog/2025/02/10.md
Due: textlint

build(deps): nuxtとモジュールを更新
  package.json
  pnpm-lock.yaml
Due: prettier

chore: seoモジュールのcontent統合用の関数を追加
  content.config.ts
Due: eslint, prettier

fix: pnpmのonlyBuiltDependenciesを追加
  package.json
Due: prettier

chore: rssの処理を仮対応
  server/routes/feed.xml.ts
  server/utils/content.ts
Due: eslint, prettier

docs: ブログ記事を追加（2025/02/11） (#1558)
  content/blog/2025/02/11.md
Due: textlint

docs: 大阪・関西万博の会場となる夢洲に新規開業した地下鉄中央線の夢洲駅へ行ってきた
  content/blog/2025/03/05.md
Due: textlint

docs: 夢洲と舞洲を繋ぐ夢舞大橋を歩く
  content/blog/2025/03/06.md
Due: textlint

docs: 家電量販店から商品が消える前にiphonese3のケースと保護フィルムを買った
  content/blog/2025/03/08.md
Due: textlint

build: nodeを22.14.0へ更新
  package.json
Due: prettier

docs: ブログ記事を追加（2025/02/12） (#1562)
  content/blog/2025/02/12.md
Due: textlint
